workflows/ChefCook_workflow.json
{"createdAt":"2025-09-23T08:47:36.135Z","updatedAt":"2025-09-23T09:12:22.103Z","id":"17EV4XzEruaFzoQh","name":"ChiefCook_Workflow_For_GitHub","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[720,176],"id":"f9ee1f77-c104-46a2-a8de-bec6dac7c995","name":"2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[720,640],"id":"6f37d614-75f6-49b5-a388-4b92cbe1c9f2","name":"3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[720,1248],"id":"dcf171ee-d4e9-4375-aab4-f5d5f4e92081","name":"4"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[720,2096],"id":"fa8630b1-777d-40d0-bd60-33b4b50dc73a","name":"5"},{"parameters":{"jsCode":"\nconst incomingRecipes = $(\"HTML-parse Get Recipes Titles\").all()[0].json.recipes;\nconst incomingUrls = $(\"HTML-parse Get Recipes Titles\").all()[0].json.urls;\n\n\nconst filtredRecipes = incomingRecipes.filter((el)=>{\n  return !(el.includes('Хочу работать'))\n});\nconst filtredUrls = incomingUrls.filter((el)=>{\n  return !(el.includes('vacancies'))\n});\n\n\nconst countReturnRandomRecipes = \n  incomingRecipes.length < 10 \n    ? incomingRecipes.length\n    : 10;\n\nconst randomIndexArray = [];\nconst randomRecipes = [];\n// const allTitle = ($('Filtering Recipes Title').all()[0].json.recipes);\n    const allTitle = filtredRecipes;\n// const allUrls = ($('Filtering Recipes Title').all()[0].json.urls);\n    const allUrls = filtredUrls;\nconst elemCounts = allTitle.length;\n\n  // функция для возврата названия блюда и его ссылки\nconst returnRandomItem = (index)=>{\n\n  const title = allTitle[index];\n\n  const url     = allUrls[index].split('/')[2];\n  const shortId = url.split(\"-\")[0]\n\n  \n  return [title,shortId];\n}\n\n  // формируем массив рандомных индексов\nwhile(randomIndexArray.length < countReturnRandomRecipes ){\n  const index = Math.floor(Math.random()*elemCounts);\n  if(!randomIndexArray.includes(index)){\n    randomIndexArray.push(index)\n  }\n}\n\n  // используя массив с рандомными индексами \n  // формируем массив соответствующих рецетов  \nfor ( let index of randomIndexArray){\n  randomRecipes.push(returnRandomItem(index));\n}\n\nconst outputData = {'randomRecipes':randomRecipes};\n\n\nreturn outputData;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3120,1712],"id":"5c037457-4af3-42ea-af51-368e4d4f3685","name":"Get Random Titles"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"recipes","cssSelector":".cooking-block a.h5","returnArray":true},{"key":"urls","cssSelector":".cooking-block a.h5","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{"trimValues":true}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1920,1712],"id":"93927895-775e-417c-90d1-1b21a48ee717","name":"HTML-parse Get Recipes Titles"},{"parameters":{"jsCode":"\nconst ingredientSynonyms = {\n      // Овощи и корнеплоды\n    'картофель': ['картошка', 'картошечка', 'молодая картошка'],\n    'помидор': ['томат', 'помидоры', 'томаты', 'помидорчики'],\n    'огурец': ['огурцы', 'огурчик', 'маринованный огурец'],\n    'свекла': ['свёкла', 'буряк', 'красная свекла'],\n    'морковь': ['морковка', 'морковочка', 'оранжевая морковь'],\n\n    // Мясо и птица\n    'курица': ['курочка', 'цыплёнок', 'куриное филе', 'куриная грудка'],\n    'говядина': ['говяжья вырезка', 'мраморная говядина', 'говяжий стейк'],\n    'свинина': ['свиной ошеек', 'свиная корейка', 'свинина на кости'],\n\n    // Рыба и морепродукты\n    'лосось': ['сёмга', 'лососина', 'филе лосося'],\n    'скумбрия': ['макрель', 'скумбрия копчёная'],\n    'креветки': ['креветки королевские', 'тигровые креветки', 'креветочки'],\n\n    // Фрукты/Ягоды\n    'яблоко': ['яблоки', 'антоновка', 'гренни смит'],\n    'банан': ['бананы', 'бананчик', 'мини-банан'],\n    'апельсин': ['апельсины', 'оранж', 'сладкий апельсин'],\n\n    // Молочные продукты\n    'сметана': ['сметанка', 'деревенская сметана', 'сметана 20%'],\n    'творог': ['творожок', 'зернёный творог', 'творог 5%'],\n\n    // Крупы и злаки\n    'гречка': ['гречневая крупа', 'гречиха', 'ядрица'],\n    'рис': ['рис басмати', 'длиннозёрный рис', 'рисинки'],\n\n    // Специи и травы\n    'базилик': ['базилик свежий', 'зелёный базилик', 'базиликовые листья'],\n    'укроп': ['укропчик', 'свежий укроп', 'укропные веточки'],\n    'корица': ['коричный порошок', 'цейлонская корица'],\n\n    // Сладости и добавки\n    'шоколад': ['горький шоколад', 'молочный шоколад', 'шоколадка'],\n    'мёд': ['цветочный мёд', 'липовый мёд', 'мёд в сотах'],\n\n    // Напитки\n    'квас': ['хлебный квас', 'домашний квас', 'квасок'],\n    'кофе': ['арабика', 'робуста', 'кофе в зёрнах'],\n\n    // Грибы\n    'шампиньоны': ['шампиньоны свежие', 'белые грибы магазинные'],\n    'лисички': ['лисички жёлтые', 'лесные лисички'],\n\n    // Дополнительные категории\n    'крабовые палочки': ['имитация краба', 'крабовые палочки снежные'],\n    'слоёное тесто': ['слоёное бездрожжевое', 'готовое слоёное тесто'],\n\n    // Особые случаи (составные ингредиенты)\n    'красная рыба': ['лосось', 'сёмга', 'горбуша', 'нерка'],\n    'белое вино': ['шардоне', 'совиньон блан', 'вино для готовки'],\n};\n\n\nconst ingredientNumberDictionary = {\n'мясо':18, 'рыба':20, 'крупа':21, 'молочные продукты':22, 'овощи':23, 'фрукты':25, 'красная рыба':[29,304,306], 'крабы':34, 'креветки':35, 'курица':36,\n'лук':37, 'картошка':38, 'картофель':38, 'капуста':39, 'помидоры':40, 'помидор':40, 'томаты':40, 'томат':40, 'огурцы':41, 'огурец':41, 'квас':104, 'компот':105, 'крахмал':106, 'бульон':107, 'говядина':110,\n'баранина':111, 'грибы':112, 'молоко':115, 'сливки':117, 'йогурт':118, 'сметана':119, 'яйца':120, 'яйцо':120, 'сыр':121, 'колбаса':122, 'кабачки':123, 'кабачок':123,\n'свинина':124, 'клубника':125, 'клюква':126, 'рис':129, 'хлебобулочные изделия':130, 'яблоки':132, 'яблоко':132, 'репа':133, 'финики':134, 'финик':134, 'мороженое':135, 'шоколад':136,\n'груши':138, 'груша':138, 'грейпфрут':139, 'тыква':140, 'гранат':141, 'кукуруза':142, 'овёс':143, 'овес':143, 'перловка':144, 'пшеничная крупа':145, 'сливы':146, 'слива':146, 'бананы':147, 'банан':147,\n'лимоны':148, 'лимон':148, 'малина':149, 'индейка':151, 'гусь':154, 'свекла':155, 'болгарский перец':156, 'морковь':157, 'холодец':159, 'моллюски':160, 'горох':162,\n'дыня':166, 'спаржа':168, 'баклажаны':170, 'баклажан':170, 'инжир':171, 'мёд':172, 'бобовые':173, 'фасоль':175, 'виноград':177, 'кальмары':180, 'утка':181,\n'манка':182, 'смородина':183, 'селёдка':184, 'щука':185, 'печень':186, 'макароны':187, 'осетрина':189, 'кролик':190, 'творог':191, 'судак':196,\n'шампиньоны':197, 'треска':199, 'минтай':200, 'телятина':201, 'орехи':203, 'орех':203, 'окунь':206, 'анчоусы':207, 'рыбные супы':208, 'скумбрия':209, 'брынза':210,\n'вешенки':211, 'лисички':212, 'пшено':213, 'сухофрукты':215, 'каштаны':217, 'каштан':217, 'мандарины':218, 'мандарин':218, 'карп':220, 'грецкие орехи':221, 'грецкий орех':221, 'твёрдый сыр':223, 'ананасы':225, 'ананас':225,\n'соленья':226, 'артишоки':227, 'сало':228, 'варенье':229, 'чеснок':231, 'хрен':232, 'плавленный сыр':233, 'фундук':241, 'гречка':242, 'пиво':243,\n'миндаль':244, 'арахис':245, 'цветная капуста':246, 'авокадо':247, 'камбала':248, 'карась':249, 'морской язык':251, 'белые грибы':252, 'белый гриб':252, 'трюфели':253, 'трюфель':253, 'шиитаке':254,\n'рыжики':255, 'подберёзовики':256, 'подберёзовик':256, 'подосиновики':257, 'подосиновик':257, 'маслята':258, 'грузди':259, 'груздь':259, 'сморчки':260, 'опята':261, 'айва':262, 'шпинат':264, 'брокколи':265,\n'специи':266, 'вино':269, 'анис':270, 'базилик':271, 'гвоздика':272, 'имбирь':273, 'иссоп':274, 'каламинта':275, 'кардамон':276, 'кинза':277,\n'корица':278, 'куркума':280, 'лавровый лист':281, 'майоран':282, 'мята':283, 'орегано':284, 'чёрный перец':285, 'петрушка':286, 'розмарин':287, 'сельдерей':288,\n'тархун':289, 'тимьян':290, 'укроп':291, 'фенхель':292, 'шафран':296, 'лечо':298, 'белое вино':300, 'редиска':303, 'редис':303,\n'морс':311, 'кофе':314, 'ячневая крупа':315, 'дрожжи':316, 'мука':317, 'калина':319, 'горчица':320, 'соевый соус':322, 'арбуз':323, 'черника':324,\n'киви':325, 'лайм':326, 'рябина':327, 'хурма':329, 'зира':330, 'сахар':332, 'абрикосы':335, 'абрикос':335, 'кислое тесто':340, 'песочное тесто':341, 'пресное тесто':342,\n'сдобное тесто':343, 'слоёное тесто':344, 'хлебное тесто':345, 'черешня':347, 'кефир':348, 'персики':349, 'персик':349, 'вишня':350, 'крыжовник':351, 'тмин':353, 'карри':354,\n'щавель':356, 'кольраби':358, 'савойская капуста':359, 'краснокочанная капуста':360, 'ряженка':361, 'почки':364, 'пастернак':365, 'оливки':366, 'брусника':370, 'брюссельская капуста':372,\n'ваниль':374, 'сгущённое молоко':375, 'желе':377, 'зелёный горошек':378, 'шоколадное масло':379, 'черемша':381, 'сыр сулугуни':382, 'алыча':383, 'чечевица':385,\n'сухарики':388, 'сухари':388, 'сливочное масло':391, 'кокос':392, 'шалфей':393, 'оладьи':396, 'красное вино':397, 'блины':400, 'дрожжевое тесто':403, 'каши':404, 'суши':405,\n'крабовые палочки':406, 'молочные супы':409, 'майонез':415, 'уксус':416, 'маслины':423, 'морская капуста':425, 'ветчина':426, 'сакэ':428, 'форель':432, 'простокваша':434,\n'субпродукты':435, 'паста мисо':437, 'редька':439, 'водоросли':441, 'маргарин':442, 'лук шалот':443, 'кукурузная крупа':444, 'дайкон':445, 'курага':450, 'изюм':451,\n'чернослив':452, 'китайская капуста':455, 'ром':457, 'манго':458, 'фисташки':460, 'повидло':462, 'ростки бамбука':466, 'кедровые орехи':467, 'кедровый орех':467, 'водка':468, 'херес':470,\n'булгур':471, 'вермишель':472, 'лук порей':474, 'ревень':478, 'фарш':479, 'хлеб':480,\n\n}\n\nconst incomingData = $input.all()[0].json.choices[0].message.content\n\nconsole.log(incomingData)\n\nconst ingredientsArray = incomingData.split(', ')\n//const ingredientsArray = incomingData\n// СТАРАЯ ЛОГИКА ФОРМИРОВАНИЯ numbersArray\n\n        const numbersArray = ingredientsArray.map((el)=>{\n          return String(ingredientNumberDictionary[el])\n        })\n\n// НОВАЯ ЛОГИКА ФОРМИРОВАНИЯ numbersArray\n\n        // const numbersArray = ingredientsArray.map((el) => {\n        //   const normalizedEl = el.toLowerCase().trim();\n        //   let matchedKey = null;\n        \n        //   // Поиск в синонимах\n        //   for (const [key, synonyms] of Object.entries(ingredientSynonyms)) {\n        //     if (synonyms.includes(normalizedEl)) {\n        //       matchedKey = key;\n        //       break;\n        //     }\n        //   }\n        \n        //   // Поиск в основном словаре\n        //   if (!matchedKey) {\n        //     matchedKey = Object.keys(ingredientNumberDictionary).find(\n        //       (dictKey) => dictKey === normalizedEl\n        //     );\n        //   }\n        \n        //   return matchedKey \n        //     ? String(ingredientNumberDictionary[matchedKey]) \n        //     : \"Does not exist\";\n        // });\n\n\nreturn {\n  'ingredientNumber': numbersArray\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2704,1456],"id":"0385ded7-e59c-42de-a702-d620093f88ff","name":"Return Ingredient Number"},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"=Привет, {{ $json.message.from.first_name}}!\nЯ - твой личный Шеф-повар высшей категории.\nСмогу посоветовать тебе рецепт с пошаговой инструкцией по приготовлению.\nВыбери категорию блюда, введи ингредиенты и получи первоклассный рецепт!\nЯ - профессионал: работаю чётко, быстро, языком не треплю.\nЯ сейчас на расхват, поэтому работаю только по одному ингредиенту.\nТак что хватит трепатся! Ближе к делу!\nВыбери категорию для блюда.","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Супы","additionalFields":{"callback_data":"cat_Супы"}},{"text":"Гарниры","additionalFields":{"callback_data":"cat_Гарниры"}},{"text":"2-е блюда","additionalFields":{"callback_data":"cat_2-е блюда"}}]}},{"row":{"buttons":[{"text":"Салаты","additionalFields":{"callback_data":"cat_Салаты"}},{"text":"Соусы","additionalFields":{"callback_data":"cat_Соусы"}},{"text":"Закуски","additionalFields":{"callback_data":"cat_Закуски"}}]}},{"row":{"buttons":[{"text":"Завтраки","additionalFields":{"callback_data":"cat_Завтраки"}},{"text":"Бутерброды","additionalFields":{"callback_data":"cat_Бутерброды"}},{"text":"Выпечка","additionalFields":{"callback_data":"cat_Выпечка"}}]}},{"row":{"buttons":[{"text":"Молочка","additionalFields":{"callback_data":"cat_Молочка"}},{"text":"Напитки","additionalFields":{"callback_data":"cat_Напитки"}},{"text":"Десерты","additionalFields":{"callback_data":"cat_Десерты"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2784,-128],"id":"43839fea-5900-481f-92a2-3433797a3a7d","name":"Send MSG on start","webhookId":"69cd01cb-fb30-4f89-98bc-d8aa05f6c3b1","disabled":true},{"parameters":{"jsCode":"\nconst categories ={\n  'Закуски'   :\t'7125',\n  'Напитки'   :\t'6500',\n  'Салаты'    :\t'47',\n  'Бутерброды':\t'127',\n  'Молочка'   :\t'6633',\n  'Супы'      :\t'12',\n  '2-е блюда' :\t'13',\n  'Гарниры'   :\t'476',\n  'Соусы'     :\t'15',\n  'Десерты'   :\t'14',\n  'Выпечка'   :\t'11',\n  'Завтраки'  : '188',\n}\n\nconst category = $input.first().json.categoryName\n\nreturn {'category_number':(categories[category])}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2128,912],"id":"6fe2406d-45d5-4cd9-965d-d4419e05c0df","name":"Return Category Number","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"/start","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"start"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1008,-272],"id":"22f9e79b-a7e0-4ef0-894b-84b82ee167ce","name":"Switch Command"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.entities[0].type }}","rightValue":"bot_command","operator":{"type":"string","operation":"equals"},"id":"96603192-5cef-44cb-8996-66f41baa578f"}],"combinator":"and"},"renameOutput":true,"outputKey":"command"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"60739636-e901-4db7-86f2-253bc36617da","leftValue":"={{ \n    $json.hasOwnProperty( \"callback_query\" )\n    &&\n    $json.callback_query.data.startsWith('searchType')\n}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"searchType_callback"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e5eea284-2e71-4f91-bc79-8769d80a7b90","leftValue":"={{ \n    $json.hasOwnProperty( \"callback_query\" )\n    &&\n    $json.callback_query.data.startsWith('cat')\n}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"cat_callback"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8440aafd-efb2-462b-a4c3-935255f65adf","leftValue":"={{ !!($json.message.text) }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"another "},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a01aaca-ffe2-43f0-93d0-29218b07d6c7","leftValue":"={{ \n    $json.hasOwnProperty( \"callback_query\" )\n    &&\n    $json.callback_query.data.startsWith('rec')\n}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"rec_callback"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[128,1168],"id":"9bb9e81c-c4a1-4bf7-8bf0-70e49ac691e8","name":"Switch message type"},{"parameters":{"updates":["*"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-128,1216],"id":"c1da2668-9568-41d3-b4b0-e07be91f868e","name":"Get MSG","webhookId":"a4d68239-a2da-4162-8c99-b88fd96c437e","credentials":{"telegramApi":{"id":"nYRWJGkPQEnunnYC","name":"GetRecipeBot"}}},{"parameters":{"authentication":"serviceAccount","operation":"upsert","projectId":"mysuperchief","collection":"={{ $json.collection }}","updateKey":"=key","columns":"=categoryName"},"type":"n8n-nodes-base.googleFirebaseCloudFirestore","typeVersion":1.1,"position":[2640,912],"id":"8139c1e5-ff16-4178-83ac-335fbee2fda0","name":"Firestore Set cateoryName","disabled":true},{"parameters":{"authentication":"serviceAccount","operation":"upsert","projectId":"mysuperchief","collection":"={{ $json.collection }}","updateKey":"=key","columns":"=categoryNumber"},"type":"n8n-nodes-base.googleFirebaseCloudFirestore","typeVersion":1.1,"position":[2768,912],"id":"b477e433-dbb6-43cd-9e41-332a3ad61658","name":"Firestore Set categoryNumber","disabled":true},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"=Отлично! Ты выбрал \"{{ $json.category_name }}\"\nА теперь введи ингредиенты через ЗАПЯТУЮ","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2432,640],"id":"e32eda75-ffa1-4183-a18a-9859295a9e3b","name":"Send MSG On Any Category","webhookId":"1eb18309-473f-4e3c-8976-fae6b8ce2dfc","credentials":{"telegramApi":{"id":"nYRWJGkPQEnunnYC","name":"GetRecipeBot"}}},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[2928,1472],"id":"439dd6c2-fae0-4b24-9f5f-ae6e87f2138c","name":"Merge1"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[2256,912],"id":"9267a54f-053a-456e-893c-9aa01ee032d8","name":"Category Name + Message Info","disabled":true},{"parameters":{"chatId":"={{ $json.message.from.id }}","text":"=Идёт поиск рецептов по Вашему запросу","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3104,1248],"id":"19b59b2e-4a9f-4e06-80f8-994d1375e482","name":"Send MSG About Searching","webhookId":"53c3ab79-5791-4920-aa28-efe26af97306","credentials":{"telegramApi":{"id":"nYRWJGkPQEnunnYC","name":"GetRecipeBot"}}},{"parameters":{"jsCode":"const inputData    = $input.all()[0].json.callback_query.data\nconst categoryName = inputData.split('_')[1]\nconst chatId       = $input.all()[0].json.callback_query.message.chat.id\nconst userName     = $input.all()[0].json.callback_query.from.first_name\nconst userNickname  = $input.all()[0].json.callback_query.from.username\nconst categories ={\n  'Закуски'   :\t'7125',\n  'Напитки'   :\t'6500',\n  'Салаты'    :\t'47',\n  'Бутерброды':\t'127',\n  'Молочка'   :\t'6633',\n  'Супы'      :\t'12',\n  '2-е блюда' :\t'13',\n  'Гарниры'   :\t'476',\n  'Соусы'     :\t'15',\n  'Десерты'   :\t'14',\n  'Выпечка'   :\t'11',\n  'Завтраки'  : '188',\n}\n\n\nreturn {\n  \"chat_id\"        : chatId,\n  \"user_name\"      : userName,\n  \"user_nickname\"   : userNickname,\n  \"category_name\"  : categoryName,\n  \"category_number\": categories[categoryName]\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,640],"id":"b69151c4-f221-467f-bc36-dda22e1207c8","name":"Return Category Chat ID User Info"},{"parameters":{"jsCode":"const baseUrl = 'https://1000.menu/cooking/'\n\nconst incomingData = $('Get MSG').all()[0].json.callback_query.data\nconst allUrls = $input.all()[0].json.recipes_map\n\nconst urlNumber = incomingData.split('_')[1]\nconst url = allUrls[urlNumber];\nconst recipeUrl = baseUrl + urlNumber +'-'+url\n\nreturn {\n  \"recipeUrl\":recipeUrl,\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1136,2528],"id":"d77a0dff-ef09-44fd-af0b-73f19bb5c241","name":"Return Recipe Url"},{"parameters":{"url":"={{ $json.recipeUrl }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1328,2528],"id":"23869a32-9d2f-42fc-820c-4d232af6e84d","name":"HTTP Request"},{"parameters":{"chatId":"={{ $json.chadId }}","text":"=Прекрасно!!!\nФормируем рецепт согласно Вашему выбору.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2928,2096],"id":"f1790441-02f4-47d2-bb68-77747f67197d","name":"MSG after selecting dish","webhookId":"8b65c19a-10e4-4608-b931-10409f19d692","credentials":{"telegramApi":{"id":"nYRWJGkPQEnunnYC","name":"GetRecipeBot"}}},{"parameters":{"jsCode":"const incomingData = $input.all()[0].json.choices[0].message.content\n\nconst url = !(incomingData.startsWith('http'))\n    ? 'https:' + incomingData\n    : incomingData;\n\nreturn {\n  \"url\":url\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2320,2304],"id":"0d7290f9-5ddc-4f4c-91cc-9d3ff5890767","name":"Return Img Url"},{"parameters":{"operation":"sendPhoto","chatId":"={{ $json.chadId }}","file":"={{ $json.url }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2928,2304],"id":"44dfcff2-a95d-4338-a1de-a7566a34652e","name":"Send Img","webhookId":"c34519e7-f602-4822-be23-5b0fe105ba5e","credentials":{"telegramApi":{"id":"nYRWJGkPQEnunnYC","name":"GetRecipeBot"}}},{"parameters":{"chatId":"={{ $json.chadId }}","text":"={{ $json.ingredients }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2928,2528],"id":"991d556e-cef7-4bd4-96cd-1d7d181183e1","name":"Send Ingredients","webhookId":"4302b026-cabb-43ee-863c-cde391dda678","credentials":{"telegramApi":{"id":"nYRWJGkPQEnunnYC","name":"GetRecipeBot"}}},{"parameters":{"chatId":"={{ $json.chadId }}","text":"={{ $json.instructions }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2928,2736],"id":"9cfcbb36-29bf-4ad2-87b5-91da182da16a","name":"Send Instructions","webhookId":"41d17427-1ece-407a-82eb-e4238f2843a8","credentials":{"telegramApi":{"id":"nYRWJGkPQEnunnYC","name":"GetRecipeBot"}}},{"parameters":{"jsCode":"const chadId = $input.first().json.callback_query.message.chat.id\nreturn {\n  \"chadId\":chadId\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2320,2096],"id":"cb589b8a-3942-456c-8011-b5986e1c1f64","name":"Return ChatId"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[2704,2304],"id":"466bf9b3-9317-40f7-bf0e-0ffc25deef7a","name":"Category Name + Message Info1"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[2704,2528],"id":"dd7c4067-106e-4b90-98b2-8ac930c31f0e","name":"Category Name + Message Info2"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[2704,2736],"id":"0fe3dba8-7a3e-4a5f-bf76-675b558e5313","name":"Category Name + Message Info3"},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"=Я тебе тут не бабушка на кухне, а шеф-повар, вашу мать!\n*Работаю без соплей* — даю рецепты, которые * реально * работают.  \n\n*Короче, слушай сюда:*  \n1. **Выбери тип блюда** (жарь, парь, запекай — один хрен).  \n2. **Кинь до 5 ингредиентов** (больше не потяну — народ ломится как не в себя).  \n3. **Получи инструкцию** — четко, по шагам, без философии.\n\n*Правила простые:* не размазывай, не умничай, *говори чётко по сути*.\nЯ не какой-то там ChatGPT, чтобы трепаться — *только дело*.\n\n**Вот категории — твой выбор.**  \n\n*И пошустрее, {{ $json.message.from.first_name }}!\nТы же ведь сюда жрать пришел, а не болтать?*\n\n","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Супы","additionalFields":{"callback_data":"cat_Супы"}},{"text":"Гарниры","additionalFields":{"callback_data":"cat_Гарниры"}},{"text":"2-е блюда","additionalFields":{"callback_data":"cat_2-е блюда"}}]}},{"row":{"buttons":[{"text":"Салаты","additionalFields":{"callback_data":"cat_Салаты"}},{"text":"Соусы","additionalFields":{"callback_data":"cat_Соусы"}},{"text":"Закуски","additionalFields":{"callback_data":"cat_Закуски"}}]}},{"row":{"buttons":[{"text":"Завтраки","additionalFields":{"callback_data":"cat_Завтраки"}},{"text":"Бутерброды","additionalFields":{"callback_data":"cat_Бутерброды"}},{"text":"Выпечка","additionalFields":{"callback_data":"cat_Выпечка"}}]}},{"row":{"buttons":[{"text":"Молочка","additionalFields":{"callback_data":"cat_Молочка"}},{"text":"Напитки","additionalFields":{"callback_data":"cat_Напитки"}},{"text":"Десерты","additionalFields":{"callback_data":"cat_Десерты"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2688,-128],"id":"157b7078-334d-4dc6-94aa-50c9b08b7821","name":"Send MSG on start1","webhookId":"b3cc909c-b06b-42ef-8566-886e586e1ca8","disabled":true},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"=Тысяча чертей, {{ $json.message.from.first_name }}!!!🏴‍☠️\n\nВижу, глаза голодные, как у чайки над трюмом!\nЯ — Дядюшка Кок, старый морской пес, и каждая моя ложка — как удар сабли по скуке! Кидай мне свой ингредиенты — акульи плавники 🦈, драконьи яйца или даже ржавые гвозди — сварю так, что сам Нептун захочет добавки!\n\nАррр, не терпится? \nТогда в бой: назови, что у тебя в трюме, а я выложу рецепт 📜 — коротко, злобно, без сухопутных заморочек! Клянусь зубом ихтиандра (видишь, с кораблём-призраком внутри?), накормлю даже мертвеца!\n\nА если застрянешь — хватай ром 🥃 из моей старой бочки и слушай, как соль превратить в золото… Ха-ха-харр! \n\nДавай, юнга, шторм не ждёт — твой ход!\nДядюшка Кок хрипло смеётся, стуча ковшом по котлу.\n\n","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"По названию","additionalFields":{"callback_data":"searchType_name"}},{"text":"По ингредиентам","additionalFields":{"callback_data":"searchType_ingredients"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2432,-272],"id":"aea6d4f7-fb9b-4f33-b46a-1fd1feb58071","name":"Send MSG on start2","webhookId":"32535109-b9ba-4923-9506-ff519ff4e0a3","credentials":{"telegramApi":{"id":"nYRWJGkPQEnunnYC","name":"GetRecipeBot"}}},{"parameters":{"content":"# &nbsp;&nbsp;&nbsp;&nbsp; Этап 1. Приветствие","height":400,"width":2320},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[640,-352],"id":"e18b3d61-9b53-43e0-9596-0955cd27e18a","name":"Sticky Note4"},{"parameters":{"content":"# &nbsp;&nbsp;&nbsp;&nbsp; Этап 3. Сохранение категории блюда при  поиске по ингредиентам","height":556,"width":2320},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[640,560],"id":"3959b899-558d-4fc3-9363-3bf31dad848d","name":"Sticky Note5","disabled":true},{"parameters":{"content":"# &nbsp;&nbsp;&nbsp;&nbsp; Этап 4. Ввод ингредиентов и поиск рецептов по ним","height":788,"width":3152},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[640,1168],"id":"8c8fc1d4-355b-46f1-9c86-62954a5b5e68","name":"Sticky Note6","disabled":true},{"parameters":{"content":"# &nbsp;&nbsp;&nbsp;&nbsp; Этап 5. Вывод рецепта","height":956,"width":2864},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[640,2016],"id":"392bccca-8281-46d3-9455-36bc00e3591f","name":"Sticky Note7","disabled":true},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"=Привет, {{ $json.message.from.first_name }}! 👊  \nЯ тут шеф-повар, не бабушка на кухне. **Работаю без соплей** — даю рецепты, которые работают.  \n\n**Слушай сюда:**  \n1️⃣ **Выбери тип блюда** (жарь, парь, запекай — не важно).  \n2️⃣ **Кинь один ингредиент** (больше не потяну — народ ломится).  \n3️⃣ **Получи инструкцию** — четко, по шагам, без философии.  \n\n**Правила простые:** не размазывай, не умничай, **называй сразу суть**. Я не ChatGPT, чтобы трепаться — **только дело**.  \n\n*Давай быстрее, {{ $json.message.from.first_name }}. Или ты котлеты жрать пришел, или болтать?*  \n\n👇 **Категория — твой ход.**  ","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Супы","additionalFields":{"callback_data":"cat_Супы"}},{"text":"Гарниры","additionalFields":{"callback_data":"cat_Гарниры"}},{"text":"2-е блюда","additionalFields":{"callback_data":"cat_2-е блюда"}}]}},{"row":{"buttons":[{"text":"Салаты","additionalFields":{"callback_data":"cat_Салаты"}},{"text":"Соусы","additionalFields":{"callback_data":"cat_Соусы"}},{"text":"Закуски","additionalFields":{"callback_data":"cat_Закуски"}}]}},{"row":{"buttons":[{"text":"Завтраки","additionalFields":{"callback_data":"cat_Завтраки"}},{"text":"Бутерброды","additionalFields":{"callback_data":"cat_Бутерброды"}},{"text":"Выпечка","additionalFields":{"callback_data":"cat_Выпечка"}}]}},{"row":{"buttons":[{"text":"Молочка","additionalFields":{"callback_data":"cat_Молочка"}},{"text":"Напитки","additionalFields":{"callback_data":"cat_Напитки"}},{"text":"Десерты","additionalFields":{"callback_data":"cat_Десерты"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2736,-240],"id":"8d2e513e-dcbb-4503-88cc-d1a9c17675b6","name":"Send MSG on start3","webhookId":"eb962379-f4cf-4a65-9d86-be5c404fc110","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[720,-272],"id":"012b4937-5ee9-4a2f-9463-b75fa3bea9b6","name":"1."},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1728,1712],"id":"3091c0d7-355e-495c-a304-41b420dfc047","name":"1000.menu Request1"},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"=Привет, {{ $json.message.from.first_name}}!\nВыбери категорию!","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Супы","additionalFields":{"callback_data":"cat_Супы"}},{"text":"Гарниры","additionalFields":{"callback_data":"cat_Гарниры"}},{"text":"2-е блюда","additionalFields":{"callback_data":"cat_2-е блюда"}}]}},{"row":{"buttons":[{"text":"Салаты","additionalFields":{"callback_data":"cat_Салаты"}},{"text":"Соусы","additionalFields":{"callback_data":"cat_Соусы"}},{"text":"Закуски","additionalFields":{"callback_data":"cat_Закуски"}}]}},{"row":{"buttons":[{"text":"Завтраки","additionalFields":{"callback_data":"cat_Завтраки"}},{"text":"Бутерброды","additionalFields":{"callback_data":"cat_Бутерброды"}},{"text":"Выпечка","additionalFields":{"callback_data":"cat_Выпечка"}}]}},{"row":{"buttons":[{"text":"Молочка","additionalFields":{"callback_data":"cat_Молочка"}},{"text":"Напитки","additionalFields":{"callback_data":"cat_Напитки"}},{"text":"Десерты","additionalFields":{"callback_data":"cat_Десерты"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2688,-352],"id":"1bbc30ee-ad27-404e-8a48-7718ae10b83a","name":"Send MSG on start4","webhookId":"e4e1abf5-d826-4831-8bf8-e414633486e6","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.randomRecipes.length }}","rightValue":1,"operator":{"type":"number","operation":"equals"},"id":"e87c4a73-5c0c-49c1-a559-b37c059a6197"}],"combinator":"and"},"renameOutput":true,"outputKey":"1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"51c283b9-078b-4911-9ff0-fef5cc3d6c0e","leftValue":"={{ $json.randomRecipes.length }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b7970bee-f78e-4ce2-a97c-9e911360e48d","leftValue":"={{ $json.randomRecipes.length }}","rightValue":3,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"3"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e9a49d4-34c5-43c8-a2e2-517e98552d14","leftValue":"={{ $json.randomRecipes.length }}","rightValue":4,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"4"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f6662ba2-c5ea-41e6-b3e3-5f7733da18e9","leftValue":"={{ $json.randomRecipes.length }}","rightValue":5,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"5"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3dae4a79-e527-4f31-8a21-c3f1a066a65f","leftValue":"={{ $json.randomRecipes.length }}","rightValue":6,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"6"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"358c1ad3-4d75-42ed-8f66-032be65e61c9","leftValue":"={{ $json.randomRecipes.length }}","rightValue":7,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"7"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f00f9bc5-e249-41c7-818e-7f79da474a25","leftValue":"={{ $json.randomRecipes.length }}","rightValue":8,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"8"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"74e09a46-8fb7-420e-858a-7a9892b9bc3c","leftValue":"={{ $json.randomRecipes.length }}","rightValue":9,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"9"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"78efc352-b19d-4701-a911-a89f35c68870","leftValue":"={{ $json.randomRecipes.length }}","rightValue":10,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"10"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[3360,1376],"id":"dddf8aff-055e-4722-acb0-ea4110f7f0f9","name":"Switch"},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"=Здорово, {{ $json.message.from.first_name }}! 👊\n\nЯ твой персональный Шеф, мать его. 👨‍🍳 Работал в лучших ресторанах, знаю своё дело от и до. Без лишней воды и понтов - я здесь, чтобы выдавать тебе чертовски крутые рецепты. 🔪\n\nРаботаем так: ты называешь ингредиент - я выдаю точный рецепт с пошаговой инструкцией. Всё просто и конкретно. 💪 Времени на болтовню нет - у меня ещё куча народу в очереди, поэтому берём один основной ингредиент и делаем из него шедевр. 🔥\n\nДавай уже к делу - выбирай способ поиска, и погнали. 🍳⏱️\n","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Супы","additionalFields":{"callback_data":"cat_Супы"}},{"text":"Гарниры","additionalFields":{"callback_data":"cat_Гарниры"}},{"text":"2-е блюда","additionalFields":{"callback_data":"cat_2-е блюда"}}]}},{"row":{"buttons":[{"text":"Салаты","additionalFields":{"callback_data":"cat_Салаты"}},{"text":"Соусы","additionalFields":{"callback_data":"cat_Соусы"}},{"text":"Закуски","additionalFields":{"callback_data":"cat_Закуски"}}]}},{"row":{"buttons":[{"text":"Завтраки","additionalFields":{"callback_data":"cat_Завтраки"}},{"text":"Бутерброды","additionalFields":{"callback_data":"cat_Бутерброды"}},{"text":"Выпечка","additionalFields":{"callback_data":"cat_Выпечка"}}]}},{"row":{"buttons":[{"text":"Молочка","additionalFields":{"callback_data":"cat_Молочка"}},{"text":"Напитки","additionalFields":{"callback_data":"cat_Напитки"}},{"text":"Десерты","additionalFields":{"callback_data":"cat_Десерты"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2784,-352],"id":"26fb693f-8d02-4ba2-8dbd-6abc04ecaebe","name":"Send MSG on start5","webhookId":"8071d78a-031b-4b4f-b768-7aafb87baa67","disabled":true},{"parameters":{"chatId":"={{ $json.callback_query.message.chat.id }}","text":"=Прекрасно, {{ $json.callback_query.from.first_name }}!\nА теперь укажи наименование блюда!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2368,192],"id":"fe05df1b-4490-4a57-9e6f-240e3d440ecc","name":"Send MSG On Name","webhookId":"43a1eb5a-0787-44f4-ba04-ec7e34b90bf9","credentials":{"telegramApi":{"id":"nYRWJGkPQEnunnYC","name":"GetRecipeBot"}}},{"parameters":{"content":"# &nbsp;&nbsp;&nbsp;&nbsp; Этап 2. Сохранение вида поиска","height":420,"width":2320},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[640,80],"id":"3b98f141-3958-4937-b1c0-99810787e7a5","name":"Sticky Note8"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1136,1248],"id":"162bffec-c711-49b9-b53f-c48c1bc66fa7","name":"Merge"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b60ec8ef-c3e8-4d8a-9d00-cbc02ddbbd53","leftValue":"={{ ($json.callback_query.data).split(\"_\")[1] }}","rightValue":"ingredients","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ingredients"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ ($json.callback_query.data).split(\"_\")[1] }}","rightValue":"name","operator":{"type":"string","operation":"equals"},"id":"b8efe314-8472-40b9-b10b-cdf024190905"}],"combinator":"and"},"renameOutput":true,"outputKey":"name"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1008,176],"id":"c9be484c-9a89-4444-88ca-cbe3ad2e31ea","name":"Switch Search Type"},{"parameters":{"authentication":"serviceAccount","operation":"upsert","projectId":"mysuperchief","collection":"={{ $json.collection }}","updateKey":"key","columns":"searchType"},"type":"n8n-nodes-base.googleFirebaseCloudFirestore","typeVersion":1.1,"position":[2736,144],"id":"65f774f7-2f46-4c8a-9a2d-d5ecdb0d10fb","name":"Firestore Set SearchType","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b60ec8ef-c3e8-4d8a-9d00-cbc02ddbbd53","leftValue":"={{ $json.search_type }}","rightValue":"ingredients","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ingredients"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.search_type }}","rightValue":"name","operator":{"type":"string","operation":"equals"},"id":"b8efe314-8472-40b9-b10b-cdf024190905"}],"combinator":"and"},"renameOutput":true,"outputKey":"name"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1328,1248],"id":"1550b729-0551-4bc4-83e7-8de99eed58db","name":"Switch  On SearchType"},{"parameters":{"chatId":"={{ $json.callback_query.message.chat.id }}","text":"=Прекрасно, {{ $json.callback_query.from.first_name }}!\nА теперь выбери категорию блюда!","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Супы","additionalFields":{"callback_data":"cat_Супы"}},{"text":"Гарниры","additionalFields":{"callback_data":"cat_Гарниры"}},{"text":"2-е блюда","additionalFields":{"callback_data":"cat_2-е блюда"}}]}},{"row":{"buttons":[{"text":"Салаты","additionalFields":{"callback_data":"cat_Салаты"}},{"text":"Соусы","additionalFields":{"callback_data":"cat_Соусы"}},{"text":"Закуски","additionalFields":{"callback_data":"cat_Закуски"}}]}},{"row":{"buttons":[{"text":"Завтраки","additionalFields":{"callback_data":"cat_Завтраки"}},{"text":"Бутерброды","additionalFields":{"callback_data":"cat_Бутерброды"}},{"text":"Выпечка","additionalFields":{"callback_data":"cat_Выпечка"}}]}},{"row":{"buttons":[{"text":"Молочка","additionalFields":{"callback_data":"cat_Молочка"}},{"text":"Напитки","additionalFields":{"callback_data":"cat_Напитки"}},{"text":"Десерты","additionalFields":{"callback_data":"cat_Десерты"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2512,160],"id":"30171df7-9159-4d41-af34-7b663b69782a","name":"Send MSG On Ingredients","webhookId":"9b1e10e7-6727-460e-bf69-1efa9b100831","credentials":{"telegramApi":{"id":"nYRWJGkPQEnunnYC","name":"GetRecipeBot"}}},{"parameters":{"jsCode":"let str = $json.message\n  ? $json.message.text\n  : '';\n\n// Функция для очистки параметров\nconst sanitizeParam = (value, pattern) => {\n  const regex = new RegExp(pattern);\n  return regex.test(value) ? value : '';\n};\n\n// Правила валидации\nconst validationRules = {\n  str: /^[а-яА-ЯёЁ0-9\\s-]{1,50}$/iu\n};\n\nconst safeParams = {};\nsafeParams.str = str\n  ? encodeURIComponent(sanitizeParam(str, validationRules.str))\n  : '';\n\nlet categoryNumber = $json.categoryNumber\n  ? $json.categoryNumber\n  : '';\n\nlet ingredientNumber = $json.ingredientNumber\n  ? [...$json.ingredientNumber,'','','','','','','']\n  : ['','','','','','','']\n\nlet url = \n\"https://1000.menu/cooking/search?\"\n+      \"ms=1\"\n+\"&\"+  \"str=\"                   +  ( `${safeParams.str || ''}` )\n+\"&\"+  \"sostav_arr_add%5B%5D=\"  +  ( `${ingredientNumber[0]}` )\n+\"&\"+  \"sostav_arr_add%5B%5D=\"  +  ( `${ingredientNumber[1]}` )\n+\"&\"+  \"sostav_arr_add%5B%5D=\"  +  ( `${ingredientNumber[2]}` )\n+\"&\"+  \"sostav_arr_add%5B%5D=\"  +  ( `${ingredientNumber[3]}` )\n+\"&\"+  \"sostav_arr_add%5B%5D=\"  +  ( `${ingredientNumber[4]}` )\n+\"&\"+  \"sostav_arr_add%5B%5D=\"  +  ( `${ingredientNumber[5]}` )\n+\"&\"+  \"sostav_arr_add%5B%5D=\"  +  ( `${ingredientNumber[6]}` )\n+\"&\"+  \"es_tf=0\"\n+\"&\"+  \"es_tt=14\"\n+\"&\"+  \"es_cf=0\"\n+\"&\"+  \"es_ct=2000\"\n+\"&\"+  \"arr_catalog%5B47%5D=\"   +  ( `${categoryNumber}` )\n\n\nreturn {\"url\":url}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1536,1712],"id":"36577bd6-6fcc-435d-9db7-dd8556414cf0","name":"Generate URL"},{"parameters":{"assignments":{"assignments":[{"id":"8aceed01-1fd6-4777-93b8-eaf26e8a5c67","name":"chat_id","value":"={{ $json.chat_id || $json.message.chat.id }}","type":"string"},{"id":"69e5b84d-976c-4751-b573-a9a4e9681f33","name":"user_name","value":"={{ $json.user_name || $json.message.from.first_name }}","type":"string"},{"id":"6da30742-6b9d-43da-81ec-64ca38fd8a76","name":"user_nicname","value":"={{ $json.user_nicname || $json.message.from.username }}","type":"string"},{"id":"9fbf29e3-7791-4368-b0ec-ae4ab3291593","name":"category_name","value":"={{ $json.category_name }}","type":"string"},{"id":"f6e14bf1-494a-4c08-8bab-809019302c19","name":"category_number","value":"={{ $json.category_number }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2384,912],"id":"6721be90-7e1a-4efd-8f6c-4feb596a3a36","name":"Make Firestore Fields","disabled":true},{"parameters":{"method":"POST","url":"http://185.77.231.110:8000/rest/v1/user_sessions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"},{"name":"Prefer","value":"resolution=merge-duplicates"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"test_123"},{"name":"user_name","value":"Test User"},{"name":"user_nickname","value":"test_user"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2512,912],"id":"db1ec184-38df-4f52-a67a-879283b47edf","name":"Supa Set User Session","disabled":true},{"parameters":{"url":"=http://185.77.231.110:8000/rest/v1/user_sessions?chat_id=eq.{{ $json.message.from.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"},{"name":"Prefer","value":"resolution=merge-duplicates"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,-144],"id":"560759c1-3514-41c0-81c0-a27d49514eb4","name":"Supa Get User","alwaysOutputData":true,"retryOnFail":false},{"parameters":{"url":"=http://185.77.231.110:8000/rest/v1/user_search_types?chat_id=eq.{{ $json.chat_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"},{"name":"Prefer","value":"resolution=merge-duplicates"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,336],"id":"bd0181e6-9faa-44ab-9dbd-b11c508788ac","name":"Supa Get SearchType","alwaysOutputData":true,"retryOnFail":false},{"parameters":{"url":"=http://185.77.231.110:8000/rest/v1/user_categories?chat_id=eq.{{$json.chat_id || 598255235 }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"},{"name":"Prefer","value":"resolution=merge-duplicates"}]},"options":{}},"id":"47e68b69-1812-4870-9d85-cd3e64832135","name":"Supa Get Category","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,800],"alwaysOutputData":true},{"parameters":{"method":"POST","url":"http://185.77.231.110:8000/rest/v1/user_categories","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"},{"name":"Prefer","value":"resolution=merge-duplicates"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $('Return Category Chat ID User Info').all()[0].json.chat_id }}"},{"name":"category_name","value":"={{ $('Return Category Chat ID User Info').all()[0].json.category_name }}"},{"name":"category_number","value":"={{ $('Return Category Chat ID User Info').all()[0].json.category_number }}"},{"name":"user_nickname","value":"={{ $('Return Category Chat ID User Info').item.json.user_nickname }}"}]},"options":{}},"id":"bf3d2042-34a6-443b-9355-f1d9ba070fc5","name":"Supa Post Category","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,784]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"65f00087-0fed-4698-b4c5-db46c38986b7","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"abec7d4a-eaaa-429a-b95f-c28ff625bc75","name":"If Category Not Exists","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1376,800],"connections":{"true":[[{"node":"a7b8c9d0-e1f2-4a3b-b4c5-d6e7f8a9b0c1","type":"main","index":0}]],"false":[[{"node":"b8c9d0e1-f2a3-4b4c-a5d6-e7f8a9b0c1d2","type":"main","index":0}]]}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"91b8c209-ad56-4eee-90ad-07de16180ee7","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1376,336],"id":"f08fdd23-0719-4ec7-8795-471eebb6eeba","name":"If SearchType Not Exists"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"91b8c209-ad56-4eee-90ad-07de16180ee7","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1376,-144],"id":"a57cfe61-038a-475e-9926-26e837eb5d7b","name":"If Useer Not Exists"},{"parameters":{"method":"POST","url":"http://185.77.231.110:8000/rest/v1/user_search_types","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"},{"name":"Prefer","value":"resolution=merge-duplicates"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $('Make SupaBase Fields').all()[0].json.chat_id }}"},{"name":"user_nickname","value":"={{ $('Make SupaBase Fields').all()[0].json.user_nickname }}"},{"name":"search_type","value":"={{ $('Make SupaBase Fields').all()[0].json.search_type }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,320],"id":"5d528318-dfab-47a9-8d14-eb01e131a548","name":"Supa Post SearchType"},{"parameters":{"method":"POST","url":"http://185.77.231.110:8000/rest/v1/user_sessions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"},{"name":"Prefer","value":"resolution=merge-duplicates"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $('Switch Command').all()[0].json.message.from.id }}"},{"name":"user_name","value":"={{ $('Switch Command').all()[0].json.message.from.first_name }}"},{"name":"user_nickname","value":"={{ $('Switch Command').all()[0].json.message.from.username }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,-160],"id":"b7ed17fe-9505-464b-ac89-ce800dc78185","name":"Supa Post User"},{"parameters":{"method":"PATCH","url":"=http://185.77.231.110:8000/rest/v1/user_sessions?chat_id=eq.{{ $json.chat_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"},{"name":"Prefer","value":"resolution=merge-duplicates"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"user_name","value":"={{ $json.user_name }}"},{"name":"user_nickname","value":"={{ $json.user_nickname }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1728,-128],"id":"7055442d-0c23-4eb4-8f60-9b83bebd21e7","name":"Supa Update User"},{"parameters":{"method":"PATCH","url":"=http://185.77.231.110:8000/rest/v1/user_search_types?chat_id=eq.{{ $('Supa Get SearchType').all()[0].json.chat_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"},{"name":"Prefer","value":"resolution=merge-duplicates"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"search_type","value":"={{ $('Get MSG').all()[0].json.callback_query.data.split(\"_\")[1] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1728,352],"id":"925d2e32-87da-4b48-abce-052bc253af8e","name":"Supa Update SearchType"},{"parameters":{"method":"PATCH","url":"=http://185.77.231.110:8000/rest/v1/user_categories?chat_id=eq.{{ $('Return Category Chat ID User Info').all()[0].json.chat_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"},{"name":"Prefer","value":"resolution=merge-duplicates"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"category_name","value":"={{ $('Return Category Chat ID User Info').all()[0].json.category_name }}"},{"name":"category_number","value":"={{ $('Return Category Chat ID User Info').all()[0].json.category_number }}"}]},"options":{}},"id":"f5541d6e-607c-4057-a772-957665972cc3","name":"Supa Update Category","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1728,816]},{"parameters":{"assignments":{"assignments":[{"id":"8aceed01-1fd6-4777-93b8-eaf26e8a5c67","name":"chat_id","value":"={{ $json.callback_query.message.chat.id }}","type":"string"},{"id":"69e5b84d-976c-4751-b573-a9a4e9681f33","name":"search_type","value":"={{ $json.callback_query.data.split('_')[1] }}","type":"string"},{"id":"c4aff103-2624-423e-a64f-3ac80ec33224","name":"user_nickname","value":"={{ $json.callback_query.message.chat.username }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1008,336],"id":"9aeffd12-ed8b-4b94-baaf-014d812046e6","name":"Make SupaBase Fields"},{"parameters":{"url":"=http://185.77.231.110:8000/rest/v1/user_search_types?chat_id=eq.{{ $json.message.from.id }}&select=search_type","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"},{"name":"Prefer","value":"resolution=merge-duplicates"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[928,1376],"id":"c38959e7-e875-4862-91d6-1b71ab453c67","name":"Supa Get SearchType1","alwaysOutputData":true,"retryOnFail":false},{"parameters":{"chatId":"={{ $('Get MSG').all()[0].json.message.chat.id }}","text":"=По вашему запросу были найдены следующие рецепты. Пожалуйста, выберите один из них","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"={{ $json.randomRecipes[0][0] }}","additionalFields":{"callback_data":"=rec_{{ $json.randomRecipes[0][1] }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3600,1216],"id":"65694731-6e2d-49ba-9c7f-a2d48f27c9a1","name":"Telegram1","webhookId":"aea6ae17-f9e1-44c6-952f-6684b6ac5db9","credentials":{"telegramApi":{"id":"nYRWJGkPQEnunnYC","name":"GetRecipeBot"}}},{"parameters":{"chatId":"={{ $('Get MSG').all()[0].json.message.chat.id }}","text":"=По вашему запросу были найдены следующие рецепты. Пожалуйста, выберите один из них","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"={{ $json.randomRecipes[0][0] }}","additionalFields":{"callback_data":"=rec_{{ $json.randomRecipes[0][1] }}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[1] \n  ? $json.randomRecipes[1][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[1] \n  ? (\"rec_\" + $json.randomRecipes[1][1]) \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[2] \n  ? $json.randomRecipes[2][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[2] \n  ? \"rec_\" + $json.randomRecipes[2][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[3] \n  ? $json.randomRecipes[3][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[3] \n  ? \"rec_\" + $json.randomRecipes[3][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[4] \n  ? $json.randomRecipes[4][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[4] \n  ? \"rec_\" + $json.randomRecipes[4][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[5] \n  ? $json.randomRecipes[5][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[5] \n  ? \"rec_\" + $json.randomRecipes[5][1] \n  : ' ' \n}}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3600,1536],"id":"a8f4f549-9c59-4ea5-a79d-4d894fc0cca6","name":"Telegram6","webhookId":"8d82352a-1823-443d-92cc-a3295fa707d9","credentials":{"telegramApi":{"id":"nYRWJGkPQEnunnYC","name":"GetRecipeBot"}}},{"parameters":{"chatId":"={{ $('Get MSG').all()[0].json.message.chat.id }}","text":"=По вашему запросу были найдены следующие рецепты. Пожалуйста, выберите один из них","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"={{ $json.randomRecipes[0][0] }}","additionalFields":{"callback_data":"=rec_{{ $json.randomRecipes[0][1] }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.randomRecipes[1][0] }}","additionalFields":{"callback_data":"=rec_{{ $json.randomRecipes[1][1] }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3600,1280],"id":"34fbb53e-7bd5-4e39-a4b9-b032ebb663ef","name":"Telegram2","webhookId":"96d4ee3d-5d31-428f-bcc4-998815cabcbd","credentials":{"telegramApi":{"id":"hnGinHPNsrJzL0wn","name":"Perplexity_For_Vera"}}},{"parameters":{"chatId":"={{ $('Get MSG').all()[0].json.message.chat.id }}","text":"=По вашему запросу были найдены следующие рецепты. Пожалуйста, выберите один из них","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"={{ $json.randomRecipes[0][0] }}","additionalFields":{"callback_data":"=rec_{{ $json.randomRecipes[0][1] }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.randomRecipes[1][0] }}","additionalFields":{"callback_data":"=rec_{{ $json.randomRecipes[1][1] }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.randomRecipes[2][0] }}","additionalFields":{"callback_data":"=rec_{{ $json.randomRecipes[2][1] }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3600,1344],"id":"05418dcc-201f-4c96-8b59-34961ef8af77","name":"Telegram3","webhookId":"bcb0d2b1-d47e-4935-851e-be31e1922d25","credentials":{"telegramApi":{"id":"hnGinHPNsrJzL0wn","name":"Perplexity_For_Vera"}}},{"parameters":{"chatId":"={{ $('Get MSG').all()[0].json.message.chat.id }}","text":"=По вашему запросу были найдены следующие рецепты. Пожалуйста, выберите один из них","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"={{ $json.randomRecipes[0][0] }}","additionalFields":{"callback_data":"=rec_{{ $json.randomRecipes[0][1] }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.randomRecipes[1][0] }}","additionalFields":{"callback_data":"=rec_{{ $json.randomRecipes[1][1] }}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[2] \n  ? $json.randomRecipes[2][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[2] \n  ? \"rec_\" + $json.randomRecipes[2][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[3] \n  ? $json.randomRecipes[3][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[3] \n  ? \"rec_\" + $json.randomRecipes[3][1] \n  : ' ' \n}}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3600,1408],"id":"8ad2c7ea-2a88-452f-aff3-c48f1c12db8f","name":"Telegram4","webhookId":"231dfd1c-631f-499b-bfd3-02563f9db4d1","credentials":{"telegramApi":{"id":"nYRWJGkPQEnunnYC","name":"GetRecipeBot"}}},{"parameters":{"chatId":"={{ $('Get MSG').all()[0].json.message.chat.id }}","text":"=По вашему запросу были найдены следующие рецепты. Пожалуйста, выберите один из них","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"={{ $json.randomRecipes[0][0] }}","additionalFields":{"callback_data":"=rec_{{ $json.randomRecipes[0][1] }}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[1] \n  ? $json.randomRecipes[1][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[1] \n  ? (\"rec_\" + $json.randomRecipes[1][1]) \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[2] \n  ? $json.randomRecipes[2][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[2] \n  ? \"rec_\" + $json.randomRecipes[2][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[3] \n  ? $json.randomRecipes[3][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[3] \n  ? \"rec_\" + $json.randomRecipes[3][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[4] \n  ? $json.randomRecipes[4][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[4] \n  ? \"rec_\" + $json.randomRecipes[4][1] \n  : ' ' \n}}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3600,1472],"id":"029517d8-7c8d-4aea-8712-383cef70717e","name":"Telegram5","webhookId":"15e9b4f2-97e0-4a69-8875-d3f89325a868","credentials":{"telegramApi":{"id":"nYRWJGkPQEnunnYC","name":"GetRecipeBot"}}},{"parameters":{"chatId":"={{ $('Get MSG').all()[0].json.message.chat.id }}","text":"=По вашему запросу были найдены следующие рецепты. Пожалуйста, выберите один из них","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"={{ $json.randomRecipes[0][0] }}","additionalFields":{"callback_data":"=rec_{{ $json.randomRecipes[0][1] }}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[1] \n  ? $json.randomRecipes[1][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[1] \n  ? (\"rec_\" + $json.randomRecipes[1][1]) \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[2] \n  ? $json.randomRecipes[2][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[2] \n  ? \"rec_\" + $json.randomRecipes[2][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[3] \n  ? $json.randomRecipes[3][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[3] \n  ? \"rec_\" + $json.randomRecipes[3][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[4] \n  ? $json.randomRecipes[4][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[4] \n  ? \"rec_\" + $json.randomRecipes[4][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[5] \n  ? $json.randomRecipes[5][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[5] \n  ? \"rec_\" + $json.randomRecipes[5][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[6] \n  ? $json.randomRecipes[6][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[6] \n  ? \"rec_\" + $json.randomRecipes[6][1] \n  : ' ' \n}}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3600,1600],"id":"38480540-c4ef-45fb-8e92-be9d62d742fe","name":"Telegram7","webhookId":"b7e19096-f265-4e5d-bd70-d22f6a74d668","credentials":{"telegramApi":{"id":"nYRWJGkPQEnunnYC","name":"GetRecipeBot"}}},{"parameters":{"chatId":"={{ $('Get MSG').all()[0].json.message.chat.id }}","text":"=По вашему запросу были найдены следующие рецепты. Пожалуйста, выберите один из них","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"={{ $json.randomRecipes[0][0] }}","additionalFields":{"callback_data":"=rec_{{ $json.randomRecipes[0][1] }}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[1] \n  ? $json.randomRecipes[1][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[1] \n  ? (\"rec_\" + $json.randomRecipes[1][1]) \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[2] \n  ? $json.randomRecipes[2][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[2] \n  ? \"rec_\" + $json.randomRecipes[2][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[3] \n  ? $json.randomRecipes[3][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[3] \n  ? \"rec_\" + $json.randomRecipes[3][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[4] \n  ? $json.randomRecipes[4][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[4] \n  ? \"rec_\" + $json.randomRecipes[4][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[5] \n  ? $json.randomRecipes[5][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[5] \n  ? \"rec_\" + $json.randomRecipes[5][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[6] \n  ? $json.randomRecipes[6][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[6] \n  ? \"rec_\" + $json.randomRecipes[6][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[7] \n  ? $json.randomRecipes[7][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[7] \n  ? \"rec_\" + $json.randomRecipes[7][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[8] \n  ? $json.randomRecipes[8][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[8] \n  ? \"rec_\" + $json.randomRecipes[8][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[9] \n  ? $json.randomRecipes[9][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[9] \n  ? \"rec_\" + $json.randomRecipes[9][1] \n  : ' ' \n}}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3600,1792],"id":"5c22cc13-be1b-4c88-8003-4d0dd28adbb4","name":"Telegram10","webhookId":"4445b614-ed67-4466-a379-6c6220335141","credentials":{"telegramApi":{"id":"nYRWJGkPQEnunnYC","name":"GetRecipeBot"}}},{"parameters":{"chatId":"={{ $('Get MSG').all()[0].json.message.chat.id }}","text":"=По вашему запросу были найдены следующие рецепты. Пожалуйста, выберите один из них","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"={{ $json.randomRecipes[0][0] }}","additionalFields":{"callback_data":"=rec_{{ $json.randomRecipes[0][1] }}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[1] \n  ? $json.randomRecipes[1][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[1] \n  ? (\"rec_\" + $json.randomRecipes[1][1]) \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[2] \n  ? $json.randomRecipes[2][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[2] \n  ? \"rec_\" + $json.randomRecipes[2][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[3] \n  ? $json.randomRecipes[3][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[3] \n  ? \"rec_\" + $json.randomRecipes[3][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[4] \n  ? $json.randomRecipes[4][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[4] \n  ? \"rec_\" + $json.randomRecipes[4][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[5] \n  ? $json.randomRecipes[5][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[5] \n  ? \"rec_\" + $json.randomRecipes[5][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[6] \n  ? $json.randomRecipes[6][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[6] \n  ? \"rec_\" + $json.randomRecipes[6][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[7] \n  ? $json.randomRecipes[7][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[7] \n  ? \"rec_\" + $json.randomRecipes[7][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[8] \n  ? $json.randomRecipes[8][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[8] \n  ? \"rec_\" + $json.randomRecipes[8][1] \n  : ' ' \n}}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3600,1728],"id":"0b54ab85-ca21-4780-b382-561733ce4259","name":"Telegram9","webhookId":"3dc80d17-942f-41b8-9053-e2f0cb5fb899","credentials":{"telegramApi":{"id":"nYRWJGkPQEnunnYC","name":"GetRecipeBot"}}},{"parameters":{"chatId":"={{ $('Get MSG').all()[0].json.message.chat.id }}","text":"=По вашему запросу были найдены следующие рецепты. Пожалуйста, выберите один из них","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"={{ $json.randomRecipes[0][0] }}","additionalFields":{"callback_data":"=rec_{{ $json.randomRecipes[0][1] }}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[1] \n  ? $json.randomRecipes[1][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[1] \n  ? (\"rec_\" + $json.randomRecipes[1][1]) \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[2] \n  ? $json.randomRecipes[2][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[2] \n  ? \"rec_\" + $json.randomRecipes[2][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[3] \n  ? $json.randomRecipes[3][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[3] \n  ? \"rec_\" + $json.randomRecipes[3][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[4] \n  ? $json.randomRecipes[4][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[4] \n  ? \"rec_\" + $json.randomRecipes[4][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[5] \n  ? $json.randomRecipes[5][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[5] \n  ? \"rec_\" + $json.randomRecipes[5][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[6] \n  ? $json.randomRecipes[6][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[6] \n  ? \"rec_\" + $json.randomRecipes[6][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[7] \n  ? $json.randomRecipes[7][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[7] \n  ? \"rec_\" + $json.randomRecipes[7][1] \n  : ' ' \n}}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3600,1664],"id":"88f55813-8d77-403e-baf3-b1a85b3a54bb","name":"Telegram8","webhookId":"3590173c-b09c-4f49-b42c-313b30f82983","credentials":{"telegramApi":{"id":"nYRWJGkPQEnunnYC","name":"GetRecipeBot"}}},{"parameters":{"jsCode":"// Получаем входные данные (в n8n это обычно доступно как $input.first().json)\nconst data = $input.first().json;\n\n// Инициализируем пустой объект для словаря\nconst dictionary = {};\n\n// Проходим по массиву urls\ndata.urls.forEach(url => {\n  // Разделяем URL по '/', берем последнюю часть\n  const parts = url.split('/');\n  const lastPart = parts[parts.length - 1];\n  \n  // Берем часть перед первым '-'\n  const key = lastPart.split('-')[0];\n  \n  // Проверяем, является ли key числом (чтобы пропустить неподходящие, как \"/vacancies\")\n  if (!isNaN(key) && key !== '') {\n    dictionary[key] = url;\n  }\n});\n\n// Возвращаем результат как объект (в n8n Code node возвращает массив с объектами)\nreturn [{ json: dictionary }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2128,1808],"id":"44de52d5-4bab-476c-8cfc-d9124ceae67c","name":"ShortID_FullURL"},{"parameters":{"url":"=http://185.77.231.110:8000/rest/v1/user_recipes?chat_id=eq.{{$json.chat_id || 598255235 }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"},{"name":"Prefer","value":"resolution=merge-duplicates"}]},"options":{}},"id":"14b4488d-53f7-464d-aa61-a282c0626efd","name":"Supa Get Recipes","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2320,1808],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"65f00087-0fed-4698-b4c5-db46c38986b7","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"a1bb70ea-e727-4948-b131-11dd6dee6738","name":"If Recipes Not Exists","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2512,1808],"connections":{"true":[[{"node":"a7b8c9d0-e1f2-4a3b-b4c5-d6e7f8a9b0c1","type":"main","index":0}]],"false":[[{"node":"b8c9d0e1-f2a3-4b4c-a5d6-e7f8a9b0c1d2","type":"main","index":0}]]}},{"parameters":{"method":"POST","url":"http://185.77.231.110:8000/rest/v1/user_recipes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"},{"name":"Prefer","value":"resolution=merge-duplicates"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chat_id\": {{ $('Get MSG').all()[0].json.message.chat.id }},\n  \"recipes_map\": {{ JSON.stringify($('ShortID_FullURL').all()[0].json) }}\n}","options":{}},"id":"02ea6976-c95e-48d7-91ee-e0caa3895262","name":"Supa Post Recipes","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2704,1792]},{"parameters":{"method":"PATCH","url":"=http://185.77.231.110:8000/rest/v1/user_recipes?chat_id=eq.{{ $('Get MSG').all()[0].json.message.chat.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"},{"name":"Prefer","value":"resolution=merge-duplicates"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"recipes_map\": {{ JSON.stringify($('ShortID_FullURL').all()[0].json) }}\n}","options":{}},"id":"720713cb-fce1-4b67-b2bb-446e022fa3d3","name":"Supa Update Recipes","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2928,1824]},{"parameters":{"url":"=http://185.77.231.110:8000/rest/v1/user_recipes?chat_id=eq.{{ $('Get MSG').all()[0].json.callback_query.message.chat.id }}&select=recipes_map","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"},{"name":"Prefer","value":"resolution=merge-duplicates"}]},"options":{}},"id":"05d3f99a-ded9-4191-8887-2271702d88c8","name":"Supa Get Recipes1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[928,2528],"alwaysOutputData":true},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1728,1456],"id":"a6b812a6-5b12-46e3-9e38-7c24dbad8fb5","name":"Merge2"},{"parameters":{"jsCode":"const incomingData = $('Get MSG').all()[0].json.message.text\n\nconst allIngredients = incomingData.split(',');\n\nconst splitingIngredients = {'allIngredients':JSON.stringify(allIngredients)\n  .replace(/[\"]/g, '')\n  .replace(/[\\n]/g, '')\n  .replace(/[\\[]/g, '')\n  .replace(/[\\]]/g, '')\n  .replace(/[\\b]/g, '\\\\b')\n  .replace(/[\\f]/g, '\\\\f')\n  .replace(/[\\r]/g, '\\\\r')\n  .replace(/[\\t]/g, '\\\\t')\n}\n\nreturn splitingIngredients;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1536,1392],"id":"cba69df1-6fea-4bc3-a024-8a65c4f89476","name":"Reformat Ingredients","alwaysOutputData":true},{"parameters":{"jsCode":"const text = `\nGet the name of ALL the products from the incoming array.\n\nFOLLOW ALL FURTHER INSTRUCTIONS WITHOUT ANY COMMENTS FROM YOU.\n\nCreate an empty array with the name real Ingredients for further filling and do not output it while it is empty.\n\nFollow the following instructions for EACH element in the incoming array.\n\nBeginning of instructions\nCompare the name of this product with the name of any real product as carefully as possible. The comparison should be performed only in Russian. For comparison, use Levenshtein's algorithm.\n\nIf the percentage of comparison of names is less than 80%, then add ONLY ONE line \"Does not exist\" to the array with the name \"realIngredients\" WITHOUT any of your considerations and comments as an element of this array.\n\nOtherwise, correct the name and add it to the array with the name realIngredients.\nJUST ONE line with the product name, WITHOUT any of your thoughts or comments as an element of this array.\n\nEnd of instructions\n\nOutput the filled array of \"realIngredients\" as JS-array, \nNOT STRING. \nWITHOUT ANY MARKDOWN\nONLY ARRAY\n\nExample of correct processing No. 1\nIncoming array: [Sausage]\nAfter the comparison: [Sausage]\nOutput: [Sausage]\n\nExample of correct processing No. 2\nIncoming array: [Rimnusch, Mvrtok]\nAfter comparison: [\"Does not exist\", \"Does not exist\"]\nOutput: [\"Does not exist\",\"Does not exist\"]\n\nExample of correct processing No. 3\nIncoming array: [Chickin, Kidniy Bean, Bief]\nAfter comparing: [Chicken, Beans, Beef]\nOutput: [Chicken, Beans, Beef]`\n\nreturn [{\n  json:{\n    instruction: (text\n                  .replace(/[\"]/g, '\\'')\n                  .replace(/[\\b]/g, '\\\\b')\n                  .replace(/[\\f]/g, '\\\\f')\n                  .replace(/[\\n]/g, '')\n                  .replace(/[\\r]/g, '\\\\r')\n                  .replace(/[\\t]/g, '\\\\t'))\n  }\n}]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1536,1520],"id":"caeb3b42-6d9e-494d-be28-8b85c455de3d","name":"Make Instruction"},{"parameters":{"jsCode":"const text = `\nТебе дан список игредиентов:\n\"\nмясо, рыба, крупа, молочные продукты, овощи, фрукты, красная рыба, крабы, креветки, курица, лук, картошка, картофель, капуста, помидоры, помидор, томаты, томат, огурцы, огурец, квас, компот, крахмал, бульон, говядина, баранина, грибы, молоко, сливки, йогурт, сметана, яйца, яйцо, сыр, колбаса, кабачки, кабачок, свинина, клубника, клюква, рис, хлебобулочные изделия, яблоки, яблоко, репа, финики, финик, мороженое, шоколад, груши, груша, грейпфрут, тыква, гранат, кукуруза, овёс, овес, перловка, пшеничная крупа, сливы, слива, бананы, банан, лимоны, лимон, малина, индейка, гусь, свекла, болгарский перец, морковь, холодец, моллюски, горох, дыня, спаржа, баклажаны, баклажан, инжир, мёд, бобовые, фасоль, виноград, кальмары, утка, манка, смородина, селёдка, щука, печень, макароны, осетрина, кролик, творог, судак, шампиньоны, треска, минтай, телятина, орехи, орех, окунь, анчоусы, скумбрия, брынза, вешенки, лисички, пшено, сухофрукты, каштаны, каштан, мандарины, мандарин, карп, грецкие орехи, грецкий орех, твёрдый сыр, ананасы, ананас, соленья, артишоки, сало, варенье, чеснок, хрен, плавленный сыр, фундук, гречка, пиво, миндаль, арахис, цветная капуста, авокадо, камбала, карась, морской язык, белые грибы, белый гриб, трюфели, трюфель, шиитаке, рыжики, подберёзовики, подберёзовик, подосиновики, подосиновик, маслята, грузди, груздь, сморчки, опята, айва, шпинат, брокколи, специи, вино, анис, базилик, гвоздика, имбирь, иссоп, каламинта, кардамон, кинза, корица, куркума, лавровый лист, майоран, мята, орегано, чёрный перец, петрушка, розмарин, сельдерей, тархун, тимьян, укроп, фенхель, шафран, лечо, белое вино, редиска, редис, морс, кофе, ячневая крупа, дрожжи, мука, калина, горчица, соевый соус, арбуз, черника, киви, лайм, рябина, хурма, зира, сахар, абрикосы, абрикос, кислое тесто, песочное тесто, пресное тесто, сдобное тесто, слоёное тесто, хлебное тесто, черешня, кефир, персики, персик, вишня, крыжовник, тмин, карри, щавель, кольраби, савойская капуста, краснокочанная капуста, ряженка, почки, пастернак, оливки, брусника, брюссельская капуста, ваниль, сгущённое молоко, желе, зелёный горошек, шоколадное масло, черемша, сыр сулугуни, алыча, чечевица, сухарики, сухари, сливочное масло, кокос, шалфей, оладьи, красное вино, блины, дрожжевое тесто, каши, суши, крабовые палочки, молочные супы, майонез, уксус, маслины, морская капуста, ветчина, сакэ, форель, простокваша, субпродукты, паста мисо, редька, водоросли, маргарин, лук шалот, кукурузная крупа, дайкон, курага, изюм, чернослив, китайская капуста, ром, манго, фисташки, повидло, ростки бамбука, кедровые орехи, кедровый орех, водка, херес, булгур, вермишель, лук порей, ревень, фарш, хлеб\n\"\n\nОЧЕНЬ ПОДРОБНО, ВПЛОТЬ ДО КАЖДОГО ЗНАКА проанализируй этот список\n\nТвоя задача:\n1. КАЖДЫЙ элемент из {{ JSON.parse($json.message.content) }} сравнить с каждым элементом из первоначального списка\n2. вернуть МАКСИМАЛЬНО ПОДХОДЯЩИЙ ИНГРЕДИЕНТ ПО СМЫСЛУ. \nБЕЗ ТВОИХ КОММЕНТАРИЕВ И РАССУЖДЕНИЙ.\nТОЛЬКО НАЗВАНИЕ.\nНИЧЕГО БОЛЬШЕ.\n\nПримеры верной обработки\n1. На входе \"Куриная грудка\". Ты возвращаешь \"курица\"\n2. На входе \"Куриное яйцо,Картошечка\". Ты возвращаешь \"яйцо, картошка\"`\n\nreturn [{\n  json:{\n    instruction: (text\n                  .replace(/[\"]/g, '\\'')\n                  .replace(/[\\b]/g, '\\\\b')\n                  .replace(/[\\f]/g, '\\\\f')\n                  .replace(/[\\n]/g, '')\n                  .replace(/[\\r]/g, '\\\\r')\n                  .replace(/[\\t]/g, '\\\\t'))\n  }\n}]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2128,1520],"id":"b266fd99-c7d2-4de4-bd93-aa8a9d329c24","name":"Make Instruction1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2320,1456],"id":"3045ad19-1a82-49fe-aef0-8a1ea929ad06","name":"Merge3"},{"parameters":{"jsCode":"const incomingData = $('Algorithm Of Levenshtein').all()[0].json.choices[0].message.content\n\nconst allIngredients = incomingData.split(',');\n\nconst splitingIngredients = {'allIngredients':JSON.stringify(allIngredients)\n  .replace(/[\"]/g, '')\n  .replace(/[\\n]/g, '')\n  .replace(/[\\[]/g, '')\n  .replace(/[\\]]/g, '')\n  .replace(/[\\\\]/g, '')\n  .replace(/[\\b]/g, '\\\\b')\n  .replace(/[\\f]/g, '\\\\f')\n  .replace(/[\\r]/g, '\\\\r')\n  .replace(/[\\t]/g, '\\\\t')\n}\n\nreturn splitingIngredients;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2128,1392],"id":"cb1f1976-6ac0-488d-9ab6-2e99bc829c18","name":"Reformat Ingredients2","alwaysOutputData":true},{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"{{ $('Merge3').all()[1].json.instruction }}\"\n    },\n    {\n      \"role\": \"user\",\n        \"content\": \"{{ $('Merge3').all()[0].json.allIngredients }}\"\n    }\n  ]\n}","options":{}},"id":"98eab464-c0dc-418b-9018-066ac9ec27cb","name":"Semantic Synonym Search","type":"n8n-nodes-base.httpRequest","position":[2512,1456],"typeVersion":4.2,"executeOnce":false,"credentials":{"httpHeaderAuth":{"id":"afYGpLOub3YhkslO","name":"Header Auth account"}}},{"parameters":{"url":"=http://185.77.231.110:8000/rest/v1/user_categories?chat_id=eq.{{ $json.message.chat.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q"},{"name":"Prefer","value":"resolution=merge-duplicates"}]},"options":{}},"id":"1b050822-2856-43e5-8ec7-74f8f968165e","name":"Supa Get Category1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2704,1328],"alwaysOutputData":true},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1920,2736],"id":"e093ee1b-6d5e-422c-a5e9-7c9699bfe24c","name":"Merge4"},{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"{{ $('Merge4').all()[1].json.instruction }}\"\n    },\n    {\n      \"role\": \"user\",\n        \"content\": \"{{ $('Merge4').all()[0].json.htmlOfDish }}\"\n    }\n  ]\n}\n","options":{}},"id":"16334542-1e07-492c-8cf4-637cc913fc79","name":"Get Instructions For Dish","type":"n8n-nodes-base.httpRequest","position":[2128,2736],"typeVersion":4.2,"executeOnce":false,"credentials":{"httpHeaderAuth":{"id":"afYGpLOub3YhkslO","name":"Header Auth account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1920,2528],"id":"998aedda-a193-4e9e-8fd8-343b12f7ccc4","name":"Merge5"},{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"{{ $('Merge5').all()[1].json.instruction }}\"\n    },\n    {\n      \"role\": \"user\",\n        \"content\": \"{{ $('Merge5').all()[0].json.htmlOfDish }}\"\n    }\n  ]\n}\n","options":{}},"id":"c50a692f-775c-4adf-bb27-1d89041c3269","name":"Get Instructions For Dish1","type":"n8n-nodes-base.httpRequest","position":[2128,2528],"typeVersion":4.2,"executeOnce":false,"credentials":{"httpHeaderAuth":{"id":"afYGpLOub3YhkslO","name":"Header Auth account"}}},{"parameters":{"jsCode":"const incomingData = $input.all()[0].json.data\n\n// const allIngredients = incomingData.split(',');\n\nconst htmlOfDish = {'htmlOfDish':JSON.stringify(incomingData)\n  .replace(/[\"]/g, '')\n  .replace(/[\\\\n]/g, ' ')\n  .replace(/[\\[]/g, '')\n  .replace(/[\\]]/g, '')\n  .replace(/[\\b]/g, '\\\\b')\n  .replace(/[\\f]/g, '\\\\f')\n  .replace(/[\\r]/g, '\\\\r')\n  .replace(/[\\t]/g, '\\\\t')\n}\n\nreturn htmlOfDish;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1728,2528],"id":"1f7374c8-badc-4b51-bbbd-f0b894b31677","name":"Reformat Ingredients4","alwaysOutputData":true},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1920,2304],"id":"04a3c9ee-ea02-49d4-9f7f-a8c7c31d6d47","name":"Merge6"},{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"{{ $('Merge6').all()[1].json.instruction }}\"\n    },\n    {\n      \"role\": \"user\",\n        \"content\": \"{{ $('Merge6').all()[0].json.htmlOfDish }}\"\n    }\n  ]\n}\n","options":{}},"id":"dde75975-9117-4ea3-9a8b-e670a6d8f5e6","name":"Get Instructions For Dish2","type":"n8n-nodes-base.httpRequest","position":[2128,2304],"typeVersion":4.2,"executeOnce":false,"credentials":{"httpHeaderAuth":{"id":"afYGpLOub3YhkslO","name":"Header Auth account"}}},{"parameters":{"jsCode":"\n\nreturn {\"ingredients\": $input.all()[0].json.choices[0].message.content };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2320,2528],"id":"c33ee814-d243-4baa-a9b9-85209629e5f7","name":"Code"},{"parameters":{"jsCode":"\n\nreturn {\"instructions\":$input.first().json.choices[0].message.content};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2320,2736],"id":"51600c26-50de-4bdf-b93d-93d20e9f5b92","name":"Code1"},{"parameters":{"jsCode":"const text = `\nThis is an HTML page that describes the cooking process step by step.\nIt has a block with a photo of the prepared dish, a block with ingredients, and a blog with step-by-step instructions.\nAnalyze this page in as much DETAIL as POSSIBLE, down to each character.\nCan you find a block with a photo of the finished dish?\nThere is a link to the photo in the found block.\nJUST print this link and nothing else, no more of your extras.words or comments\nLet's think step by step.`\n\nreturn [{\n  json:{\n    instruction: (text\n                  .replace(/[\"]/g, '\\'')\n                  .replace(/[\\b]/g, '\\\\b')\n                  .replace(/[\\f]/g, '\\\\f')\n                  .replace(/[\\n]/g, '')\n                  .replace(/[\\r]/g, '\\\\r')\n                  .replace(/[\\t]/g, '\\\\t'))\n  }\n}]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1536,2288],"id":"066681cf-6aa0-4d78-839e-00cb099fd5b9","name":"Make Prompt For Img"},{"parameters":{"jsCode":"const text = `\nThis is an HTML page that describes the cooking process step by step.\nIt has a block with a photo of the prepared dish, a block with ingredients, and a blog with step-by-step instructions.\nAnalyze this page in as much DETAIL as POSSIBLE, down to each character.\n\nCan you find a block with ingredients of the dish?\n\nThere are ingredients in the found block.\nJUST print this ingredients in text format and nothing else, no more of your extras.words or comments.\nNumber the resulting list.\nLet's think step by step.`\n\nreturn [{\n  json:{\n    instruction: (text\n                  .replace(/[\"]/g, '\\'')\n                  .replace(/[\\b]/g, '\\\\b')\n                  .replace(/[\\f]/g, '\\\\f')\n                  .replace(/[\\n]/g, '')\n                  .replace(/[\\r]/g, '\\\\r')\n                  .replace(/[\\t]/g, '\\\\t'))\n  }\n}]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1536,2528],"id":"effbe177-2a4a-4c15-b8dd-924ebf32785f","name":"Make Prompt For Ingredients"},{"parameters":{"jsCode":"const text = `\nThis is an HTML page that describes the cooking process step by step.\nIt has a block with a photo of the prepared dish, a block with ingredients, and a blog with step-by-step instructions.\nAnalyze this page in as much DETAIL as POSSIBLE, down to each character.\n\nCan you find a block with class=\"instructions\" itemprop=\"recipeInstructions\"\n\nThere are step-by-step instructions of the dish in the found block.\nJUST print text of this instructions and nothing else, no more of your extras words or comments\nLet's think step by step.`\n\nreturn [{\n  json:{\n    instruction: (text\n                  .replace(/[\"]/g, '\\'')\n                  .replace(/[\\b]/g, '\\\\b')\n                  .replace(/[\\f]/g, '\\\\f')\n                  .replace(/[\\n]/g, '')\n                  .replace(/[\\r]/g, '\\\\r')\n                  .replace(/[\\t]/g, '\\\\t'))\n  }\n}]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1536,2752],"id":"8609ebd0-2a59-4010-9750-9883b5144997","name":"Make Prompt For Instruction"},{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"{{ $('Merge2').all()[1].json.instruction }}\"\n    },\n    {\n      \"role\": \"user\",\n        \"content\": \"{{ $('Merge2').all()[0].json.allIngredients }}\"\n    }\n  ]\n}\n","options":{}},"id":"750a8d64-2290-4dbd-ac48-3f2a84976b4d","name":"Algorithm Of Levenshtein","type":"n8n-nodes-base.httpRequest","position":[1920,1456],"typeVersion":4.2,"executeOnce":false,"credentials":{"httpHeaderAuth":{"id":"afYGpLOub3YhkslO","name":"Header Auth account"}}}],"connections":{"2":{"main":[[{"node":"Make SupaBase Fields","type":"main","index":0},{"node":"Switch Search Type","type":"main","index":0}]]},"3":{"main":[[{"node":"Return Category Chat ID User Info","type":"main","index":0}]]},"4":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Supa Get SearchType1","type":"main","index":0}]]},"5":{"main":[[{"node":"Return ChatId","type":"main","index":0},{"node":"Supa Get Recipes1","type":"main","index":0}]]},"HTML-parse Get Recipes Titles":{"main":[[{"node":"Get Random Titles","type":"main","index":0},{"node":"ShortID_FullURL","type":"main","index":0}]]},"Get Random Titles":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Return Ingredient Number":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Switch Command":{"main":[[{"node":"Send MSG on start2","type":"main","index":0},{"node":"Supa Get User","type":"main","index":0}]]},"Switch message type":{"main":[[{"node":"1.","type":"main","index":0}],[{"node":"2","type":"main","index":0}],[{"node":"3","type":"main","index":0}],[{"node":"4","type":"main","index":0}],[{"node":"5","type":"main","index":0}]]},"Get MSG":{"main":[[{"node":"Switch message type","type":"main","index":0}]]},"Return Category Number":{"main":[[{"node":"Category Name + Message Info","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Generate URL","type":"main","index":0}]]},"Category Name + Message Info":{"main":[[{"node":"Make Firestore Fields","type":"main","index":0}]]},"Return Category Chat ID User Info":{"main":[[{"node":"Send MSG On Any Category","type":"main","index":0},{"node":"Supa Get Category","type":"main","index":0}]]},"Return Recipe Url":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Make Prompt For Instruction","type":"main","index":0},{"node":"Make Prompt For Ingredients","type":"main","index":0},{"node":"Make Prompt For Img","type":"main","index":0},{"node":"Reformat Ingredients4","type":"main","index":0}]]},"Return Img Url":{"main":[[{"node":"Category Name + Message Info1","type":"main","index":1}]]},"Return ChatId":{"main":[[{"node":"MSG after selecting dish","type":"main","index":0},{"node":"Category Name + Message Info1","type":"main","index":0},{"node":"Category Name + Message Info2","type":"main","index":0},{"node":"Category Name + Message Info3","type":"main","index":0}]]},"Category Name + Message Info1":{"main":[[{"node":"Send Img","type":"main","index":0}]]},"Category Name + Message Info2":{"main":[[{"node":"Send Ingredients","type":"main","index":0}]]},"Category Name + Message Info3":{"main":[[{"node":"Send Instructions","type":"main","index":0}]]},"1.":{"main":[[{"node":"Switch Command","type":"main","index":0}]]},"1000.menu Request1":{"main":[[{"node":"HTML-parse Get Recipes Titles","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Telegram1","type":"main","index":0}],[{"node":"Telegram2","type":"main","index":0}],[{"node":"Telegram3","type":"main","index":0}],[{"node":"Telegram4","type":"main","index":0}],[{"node":"Telegram5","type":"main","index":0}],[{"node":"Telegram6","type":"main","index":0}],[{"node":"Telegram7","type":"main","index":0}],[{"node":"Telegram8","type":"main","index":0}],[{"node":"Telegram9","type":"main","index":0}],[{"node":"Telegram10","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Switch  On SearchType","type":"main","index":0}]]},"Switch Search Type":{"main":[[{"node":"Send MSG On Ingredients","type":"main","index":0}],[{"node":"Send MSG On Name","type":"main","index":0}]]},"Switch  On SearchType":{"main":[[{"node":"Reformat Ingredients","type":"main","index":0},{"node":"Send MSG About Searching","type":"main","index":0},{"node":"Make Instruction","type":"main","index":0},{"node":"Supa Get Category1","type":"main","index":0}],[{"node":"Generate URL","type":"main","index":0},{"node":"Send MSG About Searching","type":"main","index":0}]]},"Generate URL":{"main":[[{"node":"1000.menu Request1","type":"main","index":0}]]},"Make Firestore Fields":{"main":[[{"node":"Supa Set User Session","type":"main","index":0}]]},"Supa Get User":{"main":[[{"node":"If Useer Not Exists","type":"main","index":0}]]},"Supa Get SearchType":{"main":[[{"node":"If SearchType Not Exists","type":"main","index":0}]]},"Supa Get Category":{"main":[[{"node":"If Category Not Exists","type":"main","index":0}]]},"If Category Not Exists":{"main":[[{"node":"Supa Post Category","type":"main","index":0}],[{"node":"Supa Update Category","type":"main","index":0}]]},"If SearchType Not Exists":{"main":[[{"node":"Supa Post SearchType","type":"main","index":0}],[{"node":"Supa Update SearchType","type":"main","index":0}]]},"If Useer Not Exists":{"main":[[{"node":"Supa Post User","type":"main","index":0}],[{"node":"Supa Update User","type":"main","index":0}]]},"Make SupaBase Fields":{"main":[[{"node":"Supa Get SearchType","type":"main","index":0}]]},"Supa Get SearchType1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Send MSG on start5":{"main":[[]]},"ShortID_FullURL":{"main":[[{"node":"Supa Get Recipes","type":"main","index":0}]]},"Supa Get Recipes":{"main":[[{"node":"If Recipes Not Exists","type":"main","index":0}]]},"If Recipes Not Exists":{"main":[[{"node":"Supa Post Recipes","type":"main","index":0}],[{"node":"Supa Update Recipes","type":"main","index":0}]]},"Supa Get Recipes1":{"main":[[{"node":"Return Recipe Url","type":"main","index":0}]]},"Send MSG On Any Category":{"main":[[]]},"Merge2":{"main":[[{"node":"Algorithm Of Levenshtein","type":"main","index":0}]]},"Reformat Ingredients":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Make Instruction":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Make Instruction1":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Merge3":{"main":[[{"node":"Semantic Synonym Search","type":"main","index":0}]]},"Reformat Ingredients2":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Semantic Synonym Search":{"main":[[{"node":"Return Ingredient Number","type":"main","index":0}]]},"Supa Get Category1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"Get Instructions For Dish","type":"main","index":0}]]},"Get Instructions For Dish":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Merge5":{"main":[[{"node":"Get Instructions For Dish1","type":"main","index":0}]]},"Reformat Ingredients4":{"main":[[{"node":"Merge5","type":"main","index":0},{"node":"Merge4","type":"main","index":0},{"node":"Merge6","type":"main","index":1}]]},"Merge6":{"main":[[{"node":"Get Instructions For Dish2","type":"main","index":0}]]},"Get Instructions For Dish2":{"main":[[{"node":"Return Img Url","type":"main","index":0}]]},"Get Instructions For Dish1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Category Name + Message Info2","type":"main","index":1}]]},"Code1":{"main":[[{"node":"Category Name + Message Info3","type":"main","index":1}]]},"Make Prompt For Img":{"main":[[{"node":"Merge6","type":"main","index":0}]]},"Make Prompt For Ingredients":{"main":[[{"node":"Merge5","type":"main","index":1}]]},"Make Prompt For Instruction":{"main":[[{"node":"Merge4","type":"main","index":1}]]},"Algorithm Of Levenshtein":{"main":[[{"node":"Make Instruction1","type":"main","index":0},{"node":"Reformat Ingredients2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"b920d715-e569-40cb-aee0-05bc3c064d17","triggerCount":1,"shared":[{"createdAt":"2025-09-23T08:47:36.135Z","updatedAt":"2025-09-23T08:47:36.135Z","role":"workflow:owner","workflowId":"17EV4XzEruaFzoQh","projectId":"IleytSzahKgJVE8V","project":{"createdAt":"2025-08-23T08:28:18.741Z","updatedAt":"2025-08-23T10:48:47.350Z","id":"IleytSzahKgJVE8V","name":"Oleg Ovchinnikov <olegovnino@mail.ru>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-08-23T08:28:18.741Z","updatedAt":"2025-08-23T08:28:18.741Z","role":"project:personalOwner","userId":"8c5ac946-8157-4148-a581-c85f73d34327","projectId":"IleytSzahKgJVE8V","user":{"createdAt":"2025-08-23T08:28:18.218Z","updatedAt":"2025-09-23T21:00:35.104Z","id":"8c5ac946-8157-4148-a581-c85f73d34327","email":"olegovnino@mail.ru","firstName":"Oleg","lastName":"Ovchinnikov","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"LB07ov0GUG7GKygf","userActivatedAt":1757667384674,"npsSurvey":{"waitingForResponse":true,"ignoredCount":1,"lastShownAt":1758027745623}},"role":"global:owner","disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-09-23","isPending":false}}]}}],"tags":[]}