workflows/ChefCook_workflow.json
{"createdAt":"2025-02-04T08:26:38.641Z","updatedAt":"2025-05-14T08:00:16.009Z","id":"qonwtt1mwIMj2lPX","name":"ChefCook_workflow","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[20,-1420],"id":"1de180d5-b198-4a15-9293-486b7b0b8592","name":"2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[20,-820],"id":"7cc4d106-1aee-44ff-b6f6-fb85f5b11032","name":"3"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[20,-20],"id":"85d1a081-4b4c-420a-85cf-c7e2236c4e51","name":"4"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[40,860],"id":"63b4b82b-4062-4aba-902e-ff7aeb2f9f0d","name":"5"},{"parameters":{"url":"https://1000.menu/cooking/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"ms","value":"1"},{"name":"str"},{"name":"sostav_arr_add[]","value":"={{ $json.ingredientNumber[0] }}"},{"name":"sostav_arr_add[]","value":"={{ $json.ingredientNumber[1] || \" \" }}"},{"name":"sostav_arr_add[]","value":"={{ $json.ingredientNumber[2] || \" \" }}"},{"name":"sostav_arr_add[]","value":"={{ $json.ingredientNumber[3] || \" \" }}"},{"name":"sostav_arr_add[]","value":"={{ $json.ingredientNumber[4] || \" \" }}"},{"name":"sostav_arr_add[]","value":"={{ $json.ingredientNumber[5] || \" \" }}"},{"name":"sostav_arr_add[]","value":"={{ $json.ingredientNumber[6] || \" \" }}"},{"name":"es_tf","value":"0"},{"name":"es_tt","value":"14"},{"name":"es_cf","value":"0"},{"name":"es_ct","value":"2000"},{"name":"=arr_catalog[{{ $json.categoryNumber }}]","value":"={{ $json.categoryNumber }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2600,-1180],"id":"dff7328b-488b-4091-abb0-42e0051a0c9f","name":"1000.menu Request","disabled":true},{"parameters":{"jsCode":"\n  // функция для расчёта приблизительного размера строки в байтах\nfunction roughSizeOfObject(object) {\n  const objectList = [];\n  const stack = [object];\n  let bytes = 0;\n\n  while (stack.length) {\n    const value = stack.pop();\n    \n    if (typeof value === 'boolean') {\n      bytes += 4;\n    } else if (typeof value === 'string') {\n      bytes += value.length * 2;\n    } else if (typeof value === 'number') {\n      bytes += 8;\n    } else if (typeof value === 'object' && objectList.indexOf(value) === -1) {\n      objectList.push(value);\n      \n      for (const i in value) {\n        stack.push(value[i]);\n      }\n    }\n  }\n  return bytes;\n}\n\n\n\n\nconst incomingRecipes = $(\"HTML-parse Get Recipes Titles\").all()[0].json.recipes;\nconst incomingUrls = $(\"HTML-parse Get Recipes Titles\").all()[0].json.urls;\n\n\nconst filtredRecipes = incomingRecipes.filter((el)=>{\n  return !(el.includes('Хочу работать'))\n});\nconst filtredUrls = incomingUrls.filter((el)=>{\n  return !(el.includes('vacancies'))\n});\n\n\nconst countReturnRandomRecipes = \n  incomingRecipes.length < 10 \n    ? incomingRecipes.length\n    : 10;\n\nconst randomIndexArray = [];\nconst randomRecipes = [];\n// const allTitle = ($('Filtering Recipes Title').all()[0].json.recipes);\n    const allTitle = filtredRecipes;\n// const allUrls = ($('Filtering Recipes Title').all()[0].json.urls);\n    const allUrls = filtredUrls;\nconst elemCounts = allTitle.length;\n\n  // функция для возврата названия блюда и его ссылки\nconst returnRandomItem = (index)=>{\n\n  const title = allTitle[index];\n//  const title     = (allTitle[index].split(',').join('').slice(0, 12) + '...');\n//  const url       = allUrls[index]\n  const url       = allUrls[index].split('/')[2];\n  const titleSize = roughSizeOfObject(title)\n  const urlSize   = roughSizeOfObject(url)\n  \n  console.log(`Размер ${index} названия ≈ ${titleSize} байт`);\n  console.log(`Размер ${index} ссылки ≈ ${urlSize} байт`);\n  \n  return [title,url];\n}\n\n  // формируем массив рандомных индексов\nwhile(randomIndexArray.length < countReturnRandomRecipes ){\n  const index = Math.floor(Math.random()*elemCounts);\n  if(!randomIndexArray.includes(index)){\n    randomIndexArray.push(index)\n  }\n}\n\n  // используя массив с рандомными индексами \n  // формируем массив соответствующих рецетов  \nfor ( let index of randomIndexArray){\n  randomRecipes.push(returnRandomItem(index));\n}\n\nconst outputData = {'randomRecipes':randomRecipes};\n\n\nreturn outputData;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,440],"id":"cbfb5233-1c80-4b04-8fb5-bbb2964460e6","name":"Get Random Titles"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"recipes","cssSelector":".cooking-block a.h5","returnArray":true},{"key":"urls","cssSelector":".cooking-block a.h5","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{"trimValues":true}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1580,440],"id":"94ab8b15-7156-418c-b6c5-08296426e7fb","name":"HTML-parse Get Recipes Titles"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"=Incoming array:\n{{ $json.allIngredients }}\n\nGet the name of ALL the products from the incoming array.\n\nFOLLOW ALL FURTHER INSTRUCTIONS WITHOUT ANY COMMENTS FROM YOU.\n\nCreate an empty array with the name real In gredients for further filling and do not output it while it is empty.\n\nFollow the following instructions for EACH element in the incoming array.\n\nBeginning of instructions\nCompare the name of this product with the name of any real product as carefully as possible. The comparison should be performed only in Russian. For comparison, use Levenshtein's algorithm.\n\nIf the percentage of comparison of names is less than 80%, then add ONLY ONE line \"Does not exist\" to the array with the name \"realIngredients\" WITHOUT any of your considerations and comments as an element of this array.\n\nOtherwise, correct the name and add it to the array with the name realIngredients.\nJUST ONE line with the product name, WITHOUT any of your thoughts or comments as an element of this array.\n\nEnd of instructions\n\nOutput the filled array of \"realIngredients\" as JS-array, \nNOT STRING. \nWITHOUT ANY MARKDOWN\nONLY ARRAY\n\nExample of correct processing No. 1\nIncoming array: [Sausage]\nAfter the comparison: [Sausage]\nOutput: [Sausage]  // JS-array, NOT STRING\n\nExample of correct processing No. 2\nIncoming array: [Rimnusch, Mvrtok]\nAfter comparison: [\"Does not exist\", \"Does not exist\"]\nOutput: [\"Does not exist\",\"Does not exist\"]  // JS-array, NOT STRING\n\nExample of correct processing No. 3\nIncoming array: [Chickin, Kidniy Bean, Bief]\nAfter comparing: [Chicken, Beans, Beef]\nOutput: [Chicken, Beans, Beef]  // JS-array, NOT STRING"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[1040,200],"id":"152dd1ec-33fd-4990-b91f-4b36a4e2eb9c","name":"Correcting Ingredient","credentials":{"openAiApi":{"id":"KgMliYXJMbxEYWDt","name":"OpenAi account"}}},{"parameters":{"chatId":"={{ $('Get MSG').all()[0].json.message.chat.id }}","text":"=По вашему запросу были найдены следующие рецепты. Пожалуйста, выберите один из них","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"={{ $json.randomRecipes[0][0] }}","additionalFields":{"callback_data":"=rec_{{ $json.randomRecipes[0][1] }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2480,300],"id":"215bfd40-da5f-4bb9-91a0-bf427b6d1f2c","name":"Telegram","webhookId":"ac518a17-d5ca-4aa6-b346-ee31aa23143b","credentials":{"telegramApi":{"id":"swNfm09PcF7GABUt","name":"Telegram account 3"}}},{"parameters":{"jsCode":"\nconst ingredientSynonyms = {\n      // Овощи и корнеплоды\n    'картофель': ['картошка', 'картошечка', 'молодая картошка'],\n    'помидор': ['томат', 'помидоры', 'томаты', 'помидорчики'],\n    'огурец': ['огурцы', 'огурчик', 'маринованный огурец'],\n    'свекла': ['свёкла', 'буряк', 'красная свекла'],\n    'морковь': ['морковка', 'морковочка', 'оранжевая морковь'],\n\n    // Мясо и птица\n    'курица': ['курочка', 'цыплёнок', 'куриное филе', 'куриная грудка'],\n    'говядина': ['говяжья вырезка', 'мраморная говядина', 'говяжий стейк'],\n    'свинина': ['свиной ошеек', 'свиная корейка', 'свинина на кости'],\n\n    // Рыба и морепродукты\n    'лосось': ['сёмга', 'лососина', 'филе лосося'],\n    'скумбрия': ['макрель', 'скумбрия копчёная'],\n    'креветки': ['креветки королевские', 'тигровые креветки', 'креветочки'],\n\n    // Фрукты/Ягоды\n    'яблоко': ['яблоки', 'антоновка', 'гренни смит'],\n    'банан': ['бананы', 'бананчик', 'мини-банан'],\n    'апельсин': ['апельсины', 'оранж', 'сладкий апельсин'],\n\n    // Молочные продукты\n    'сметана': ['сметанка', 'деревенская сметана', 'сметана 20%'],\n    'творог': ['творожок', 'зернёный творог', 'творог 5%'],\n\n    // Крупы и злаки\n    'гречка': ['гречневая крупа', 'гречиха', 'ядрица'],\n    'рис': ['рис басмати', 'длиннозёрный рис', 'рисинки'],\n\n    // Специи и травы\n    'базилик': ['базилик свежий', 'зелёный базилик', 'базиликовые листья'],\n    'укроп': ['укропчик', 'свежий укроп', 'укропные веточки'],\n    'корица': ['коричный порошок', 'цейлонская корица'],\n\n    // Сладости и добавки\n    'шоколад': ['горький шоколад', 'молочный шоколад', 'шоколадка'],\n    'мёд': ['цветочный мёд', 'липовый мёд', 'мёд в сотах'],\n\n    // Напитки\n    'квас': ['хлебный квас', 'домашний квас', 'квасок'],\n    'кофе': ['арабика', 'робуста', 'кофе в зёрнах'],\n\n    // Грибы\n    'шампиньоны': ['шампиньоны свежие', 'белые грибы магазинные'],\n    'лисички': ['лисички жёлтые', 'лесные лисички'],\n\n    // Дополнительные категории\n    'крабовые палочки': ['имитация краба', 'крабовые палочки снежные'],\n    'слоёное тесто': ['слоёное бездрожжевое', 'готовое слоёное тесто'],\n\n    // Особые случаи (составные ингредиенты)\n    'красная рыба': ['лосось', 'сёмга', 'горбуша', 'нерка'],\n    'белое вино': ['шардоне', 'совиньон блан', 'вино для готовки'],\n};\n\n\nconst ingredientNumberDictionary = {\n'мясо':18, 'рыба':20, 'крупа':21, 'молочные продукты':22, 'овощи':23, 'фрукты':25, 'красная рыба':[29,304,306], 'крабы':34, 'креветки':35, 'курица':36,\n'лук':37, 'картошка':38, 'картофель':38, 'капуста':39, 'помидоры':40, 'помидор':40, 'томаты':40, 'томат':40, 'огурцы':41, 'огурец':41, 'квас':104, 'компот':105, 'крахмал':106, 'бульон':107, 'говядина':110,\n'баранина':111, 'грибы':112, 'молоко':115, 'сливки':117, 'йогурт':118, 'сметана':119, 'яйца':120, 'яйцо':120, 'сыр':121, 'колбаса':122, 'кабачки':123, 'кабачок':123,\n'свинина':124, 'клубника':125, 'клюква':126, 'рис':129, 'хлебобулочные изделия':130, 'яблоки':132, 'яблоко':132, 'репа':133, 'финики':134, 'финик':134, 'мороженое':135, 'шоколад':136,\n'груши':138, 'груша':138, 'грейпфрут':139, 'тыква':140, 'гранат':141, 'кукуруза':142, 'овёс':143, 'овес':143, 'перловка':144, 'пшеничная крупа':145, 'сливы':146, 'слива':146, 'бананы':147, 'банан':147,\n'лимоны':148, 'лимон':148, 'малина':149, 'индейка':151, 'гусь':154, 'свекла':155, 'болгарский перец':156, 'морковь':157, 'холодец':159, 'моллюски':160, 'горох':162,\n'дыня':166, 'спаржа':168, 'баклажаны':170, 'баклажан':170, 'инжир':171, 'мёд':172, 'бобовые':173, 'фасоль':175, 'виноград':177, 'кальмары':180, 'утка':181,\n'манка':182, 'смородина':183, 'селёдка':184, 'щука':185, 'печень':186, 'макароны':187, 'осетрина':189, 'кролик':190, 'творог':191, 'судак':196,\n'шампиньоны':197, 'треска':199, 'минтай':200, 'телятина':201, 'орехи':203, 'орех':203, 'окунь':206, 'анчоусы':207, 'рыбные супы':208, 'скумбрия':209, 'брынза':210,\n'вешенки':211, 'лисички':212, 'пшено':213, 'сухофрукты':215, 'каштаны':217, 'каштан':217, 'мандарины':218, 'мандарин':218, 'карп':220, 'грецкие орехи':221, 'грецкий орех':221, 'твёрдый сыр':223, 'ананасы':225, 'ананас':225,\n'соленья':226, 'артишоки':227, 'сало':228, 'варенье':229, 'чеснок':231, 'хрен':232, 'плавленный сыр':233, 'фундук':241, 'гречка':242, 'пиво':243,\n'миндаль':244, 'арахис':245, 'цветная капуста':246, 'авокадо':247, 'камбала':248, 'карась':249, 'морской язык':251, 'белые грибы':252, 'белый гриб':252, 'трюфели':253, 'трюфель':253, 'шиитаке':254,\n'рыжики':255, 'подберёзовики':256, 'подберёзовик':256, 'подосиновики':257, 'подосиновик':257, 'маслята':258, 'грузди':259, 'груздь':259, 'сморчки':260, 'опята':261, 'айва':262, 'шпинат':264, 'брокколи':265,\n'специи':266, 'вино':269, 'анис':270, 'базилик':271, 'гвоздика':272, 'имбирь':273, 'иссоп':274, 'каламинта':275, 'кардамон':276, 'кинза':277,\n'корица':278, 'куркума':280, 'лавровый лист':281, 'майоран':282, 'мята':283, 'орегано':284, 'чёрный перец':285, 'петрушка':286, 'розмарин':287, 'сельдерей':288,\n'тархун':289, 'тимьян':290, 'укроп':291, 'фенхель':292, 'шафран':296, 'лечо':298, 'белое вино':300, 'редиска':303, 'редис':303,\n'морс':311, 'кофе':314, 'ячневая крупа':315, 'дрожжи':316, 'мука':317, 'калина':319, 'горчица':320, 'соевый соус':322, 'арбуз':323, 'черника':324,\n'киви':325, 'лайм':326, 'рябина':327, 'хурма':329, 'зира':330, 'сахар':332, 'абрикосы':335, 'абрикос':335, 'кислое тесто':340, 'песочное тесто':341, 'пресное тесто':342,\n'сдобное тесто':343, 'слоёное тесто':344, 'хлебное тесто':345, 'черешня':347, 'кефир':348, 'персики':349, 'персик':349, 'вишня':350, 'крыжовник':351, 'тмин':353, 'карри':354,\n'щавель':356, 'кольраби':358, 'савойская капуста':359, 'краснокочанная капуста':360, 'ряженка':361, 'почки':364, 'пастернак':365, 'оливки':366, 'брусника':370, 'брюссельская капуста':372,\n'ваниль':374, 'сгущённое молоко':375, 'желе':377, 'зелёный горошек':378, 'шоколадное масло':379, 'черемша':381, 'сыр сулугуни':382, 'алыча':383, 'чечевица':385,\n'сухарики':388, 'сухари':388, 'сливочное масло':391, 'кокос':392, 'шалфей':393, 'оладьи':396, 'красное вино':397, 'блины':400, 'дрожжевое тесто':403, 'каши':404, 'суши':405,\n'крабовые палочки':406, 'молочные супы':409, 'майонез':415, 'уксус':416, 'маслины':423, 'морская капуста':425, 'ветчина':426, 'сакэ':428, 'форель':432, 'простокваша':434,\n'субпродукты':435, 'паста мисо':437, 'редька':439, 'водоросли':441, 'маргарин':442, 'лук шалот':443, 'кукурузная крупа':444, 'дайкон':445, 'курага':450, 'изюм':451,\n'чернослив':452, 'китайская капуста':455, 'ром':457, 'манго':458, 'фисташки':460, 'повидло':462, 'ростки бамбука':466, 'кедровые орехи':467, 'кедровый орех':467, 'водка':468, 'херес':470,\n'булгур':471, 'вермишель':472, 'лук порей':474, 'ревень':478, 'фарш':479, 'хлеб':480,\n\n}\nconsole.log(($input.all()[0].json.output))\n\nconst incomingData = $input.all()[0].json.output\n\nconst ingredientsArray = incomingData.split(', ')\n//const ingredientsArray = incomingData\n// СТАРАЯ ЛОГИКА ФОРМИРОВАНИЯ numbersArray\n\n        const numbersArray = ingredientsArray.map((el)=>{\n          return String(ingredientNumberDictionary[el])\n        })\n\n// НОВАЯ ЛОГИКА ФОРМИРОВАНИЯ numbersArray\n\n        // const numbersArray = ingredientsArray.map((el) => {\n        //   const normalizedEl = el.toLowerCase().trim();\n        //   let matchedKey = null;\n        \n        //   // Поиск в синонимах\n        //   for (const [key, synonyms] of Object.entries(ingredientSynonyms)) {\n        //     if (synonyms.includes(normalizedEl)) {\n        //       matchedKey = key;\n        //       break;\n        //     }\n        //   }\n        \n        //   // Поиск в основном словаре\n        //   if (!matchedKey) {\n        //     matchedKey = Object.keys(ingredientNumberDictionary).find(\n        //       (dictKey) => dictKey === normalizedEl\n        //     );\n        //   }\n        \n        //   return matchedKey \n        //     ? String(ingredientNumberDictionary[matchedKey]) \n        //     : \"Does not exist\";\n        // });\n\n\nreturn {\n  'ingredientNumber': numbersArray\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,200],"id":"1a258ae0-a823-43c1-bfca-03ee12e9a750","name":"Return Ingredient Number"},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"=Привет, {{ $json.message.from.first_name}}!\nЯ - твой личный Шеф-повар высшей категории.\nСмогу посоветовать тебе рецепт с пошаговой инструкцией по приготовлению.\nВыбери категорию блюда, введи ингредиенты и получи первоклассный рецепт!\nЯ - профессионал: работаю чётко, быстро, языком не треплю.\nЯ сейчас на расхват, поэтому работаю только по одному ингредиенту.\nТак что хватит трепатся! Ближе к делу!\nВыбери категорию для блюда.","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Супы","additionalFields":{"callback_data":"cat_Супы"}},{"text":"Гарниры","additionalFields":{"callback_data":"cat_Гарниры"}},{"text":"2-е блюда","additionalFields":{"callback_data":"cat_2-е блюда"}}]}},{"row":{"buttons":[{"text":"Салаты","additionalFields":{"callback_data":"cat_Салаты"}},{"text":"Соусы","additionalFields":{"callback_data":"cat_Соусы"}},{"text":"Закуски","additionalFields":{"callback_data":"cat_Закуски"}}]}},{"row":{"buttons":[{"text":"Завтраки","additionalFields":{"callback_data":"cat_Завтраки"}},{"text":"Бутерброды","additionalFields":{"callback_data":"cat_Бутерброды"}},{"text":"Выпечка","additionalFields":{"callback_data":"cat_Выпечка"}}]}},{"row":{"buttons":[{"text":"Молочка","additionalFields":{"callback_data":"cat_Молочка"}},{"text":"Напитки","additionalFields":{"callback_data":"cat_Напитки"}},{"text":"Десерты","additionalFields":{"callback_data":"cat_Десерты"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[660,-1840],"id":"c80ff656-7772-4359-a598-ebce79e91b34","name":"Send MSG on start","webhookId":"0dedc0f3-7cb2-44c2-89a0-4e17c2f883cd","credentials":{"telegramApi":{"id":"swNfm09PcF7GABUt","name":"Telegram account 3"}},"disabled":true},{"parameters":{"jsCode":"\nconst categories ={\n  'Закуски'   :\t'7125',\n  'Напитки'   :\t'6500',\n  'Салаты'    :\t'47',\n  'Бутерброды':\t'127',\n  'Молочка'   :\t'6633',\n  'Супы'      :\t'12',\n  '2-е блюда' :\t'13',\n  'Гарниры'   :\t'476',\n  'Соусы'     :\t'15',\n  'Десерты'   :\t'14',\n  'Выпечка'   :\t'11',\n  'Завтраки'  : '188',\n}\n\nconst category = $input.first().json.categoryName\n\nreturn {'categoryNumber':(categories[category])}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[520,-620],"id":"c72e6e76-d07e-40a6-97bc-528a9b042855","name":"Return Category Number"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"/start","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"start"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[320,-1960],"id":"fd2ece42-d7a1-4030-a89f-f53e8fc3a39a","name":"Switch Command"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.entities[0].type }}","rightValue":"bot_command","operator":{"type":"string","operation":"equals"},"id":"96603192-5cef-44cb-8996-66f41baa578f"}],"combinator":"and"},"renameOutput":true,"outputKey":"command"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"60739636-e901-4db7-86f2-253bc36617da","leftValue":"={{ \n    $json.hasOwnProperty( \"callback_query\" )\n    &&\n    $json.callback_query.data.startsWith('searchType')\n}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"searchType_callback"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e5eea284-2e71-4f91-bc79-8769d80a7b90","leftValue":"={{ \n    $json.hasOwnProperty( \"callback_query\" )\n    &&\n    $json.callback_query.data.startsWith('cat')\n}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"cat_callback"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8440aafd-efb2-462b-a4c3-935255f65adf","leftValue":"={{ !!($json.message.text) }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"another "},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a01aaca-ffe2-43f0-93d0-29218b07d6c7","leftValue":"={{ \n    $json.hasOwnProperty( \"callback_query\" )\n    &&\n    $json.callback_query.data.startsWith('rec')\n}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"rec_callback"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-620,-220],"id":"c8711170-3286-4c1c-8de5-f770549fef49","name":"Switch message type"},{"parameters":{"updates":["*"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-880,-180],"id":"b5264739-482c-40b5-992a-2394699054d2","name":"Get MSG","webhookId":"ba2969c5-3eda-48f9-b729-8697366f19de","credentials":{"telegramApi":{"id":"swNfm09PcF7GABUt","name":"Telegram account 3"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.callback_query.data }}","rightValue":"Салаты","operator":{"type":"string","operation":"equals"},"id":"aa5d1f0f-a312-4b0c-834f-acbd21304424"}],"combinator":"and"},"renameOutput":true,"outputKey":"салаты"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a0e1f01e-f9ec-4bf5-be10-5b64af2f91fa","leftValue":"={{ $json.callback_query.data }}","rightValue":"Супы","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Супы"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2760,-1540],"id":"880479e3-70d7-45f9-948c-b34bfdcd8cdb","name":"Switch Category Type1","disabled":true},{"parameters":{"authentication":"serviceAccount","operation":"upsert","projectId":"mysuperchief","collection":"={{ $json.collection }}","updateKey":"=key","columns":"=categoryName"},"type":"n8n-nodes-base.googleFirebaseCloudFirestore","typeVersion":1.1,"position":[1080,-700],"id":"7fa167df-842c-489a-9811-57cf5186143f","name":"Firestore Set cateoryName","credentials":{"googleApi":{"id":"DcRsXsLmzvIr2qfO","name":"OlegPersonalFirestore"}}},{"parameters":{"authentication":"serviceAccount","operation":"upsert","projectId":"mysuperchief","collection":"={{ $json.collection }}","updateKey":"=key","columns":"=categoryNumber"},"type":"n8n-nodes-base.googleFirebaseCloudFirestore","typeVersion":1.1,"position":[1080,-520],"id":"d7b92e13-c037-4932-8e1d-587d50ba9e65","name":"Firestore Set categoryNumber","credentials":{"googleApi":{"id":"DcRsXsLmzvIr2qfO","name":"OlegPersonalFirestore"}}},{"parameters":{"chatId":"={{ $json.chatId }}","text":"=Отлично! Ты выбрал \"{{ $json.categoryName }}\"\nА теперь введи ингредиенты через ЗАПЯТУЮ","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1740,-820],"id":"04d9ece1-cf4e-4834-8505-3cacf5963fd5","name":"Send MSG On Any Category","webhookId":"87b9b0ab-0e7b-456f-8565-e81074e1e630","credentials":{"telegramApi":{"id":"swNfm09PcF7GABUt","name":"Telegram account 3"}}},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[2000,200],"id":"c99912b9-46b1-4099-979d-fdc28c2b8f86","name":"Merge1"},{"parameters":{"assignments":{"assignments":[{"id":"8aceed01-1fd6-4777-93b8-eaf26e8a5c67","name":"collection","value":"=chat~{{ $json.chatId }}~{{ $json.userNicname }}","type":"string"},{"id":"6da30742-6b9d-43da-81ec-64ca38fd8a76","name":"key","value":"=category","type":"string"},{"id":"69e5b84d-976c-4751-b573-a9a4e9681f33","name":"categoryName","value":"={{ $json.categoryName }}","type":"string"},{"id":"9fbf29e3-7791-4368-b0ec-ae4ab3291593","name":"categoryNumber","value":"={{ $json.categoryNumber }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[900,-620],"id":"27a28514-2142-4219-a607-b821a6cd223a","name":"Make Firestore Fields "},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[720,-620],"id":"230df7f4-7372-40d7-81bd-6279307c3301","name":"Category Name + Message Info"},{"parameters":{"chatId":"={{ $json.message.from.id }}","text":"=Идёт поиск рецептов по Вашему запросу","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2240,-20],"id":"99ce2354-b4b7-499e-8833-ddc4f8503c03","name":"Send MSG About Searching","webhookId":"87b9b0ab-0e7b-456f-8565-e81074e1e630","credentials":{"telegramApi":{"id":"swNfm09PcF7GABUt","name":"Telegram account 3"}}},{"parameters":{"assignments":{"assignments":[{"id":"8aceed01-1fd6-4777-93b8-eaf26e8a5c67","name":"collection","value":"=chat~{{ $json.callback_query.from.id }}~{{ $json.callback_query.from.username }}","type":"string"},{"id":"6da30742-6b9d-43da-81ec-64ca38fd8a76","name":"key","value":"=category","type":"string"},{"id":"69e5b84d-976c-4751-b573-a9a4e9681f33","name":"cateoryName","value":"={{ $json.callback_query.data }}","type":"string"},{"id":"c452a8ed-d13b-4864-a3a7-c9b82f267300","name":"categoryNumber","value":"={{ $json.categoryNumber }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2600,-1540],"id":"c0802928-1225-4b93-994c-8dc70f334245","name":"Make Firestore Fields 1","disabled":true},{"parameters":{"authentication":"serviceAccount","projectId":"mysuperchief","collection":"=chat~{{ $json.message.from.id }}~{{ $json.message.from.username }}","documentId":"category"},"type":"n8n-nodes-base.googleFirebaseCloudFirestore","typeVersion":1.1,"position":[1760,40],"id":"4d12d7c9-0646-4b33-b5b5-2a20a28ab577","name":"Firestore Get Category","alwaysOutputData":true,"credentials":{"googleApi":{"id":"DcRsXsLmzvIr2qfO","name":"OlegPersonalFirestore"}}},{"parameters":{"jsCode":"const inputData    = $input.all()[0].json.callback_query.data\nconst categoryName = inputData.split('_')[1]\nconst chatId       = $input.all()[0].json.callback_query.message.chat.id\nconst userName     = $input.all()[0].json.callback_query.from.first_name\nconst userNicname  = $input.all()[0].json.callback_query.from.username\n\nreturn {\n  \"chatId\"       : chatId,\n  \"userName\"     : userName,\n  \"userNicname\"  : userNicname,\n  \"categoryName\" : categoryName\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,-820],"id":"84581733-fa71-4b68-aa07-344adcc8b06b","name":"Return Category Chat ID User Info"},{"parameters":{"jsCode":"const baseUrl = 'https://1000.menu/cooking/'\n\nconst incomingData = $input.all()[0].json.callback_query.data\nconst recipeUrl = baseUrl + incomingData.split('_')[1]\n\nreturn {\n  \"recipeUrl\":recipeUrl,\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,1020],"id":"21e864c7-13ff-4171-9c8b-39a9c2ce52e2","name":"Return Recipe Url"},{"parameters":{"url":"={{ $json.recipeUrl }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[740,1020],"id":"6cf15280-c962-46c1-9a24-bff35010681e","name":"HTTP Request"},{"parameters":{"chatId":"={{ $json.chadId }}","text":"=Прекрасно!!!\nФормируем рецепт согласно Вашему выбору.","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1760,860],"id":"530ae731-f1fb-4c82-9bd7-be7ca923db5f","name":"MSG after selecting dish","webhookId":"f6eb156c-cd5b-451f-b163-2b5bcf00c7cc","credentials":{"telegramApi":{"id":"swNfm09PcF7GABUt","name":"Telegram account 3"}}},{"parameters":{"jsCode":"const incomingData = $input.first().json.message.content;\n\nconst url = !(incomingData.startsWith('http'))\n    ? 'https:' + $input.first().json.message.content\n    : incomingData;\n\nreturn {\n  \"url\":url\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,1020],"id":"afe8d81e-2908-47a5-afbe-0afef79daf39","name":"Return Img Url"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Here is the input data for you\n\n{{ $json.data }}\n\nThis is an HTML page that describes the cooking process step by step.\nIt has a block with a photo of the prepared dish, a block with ingredients, and a blog with step-by-step instructions.\nAnalyze this page in as much DETAIL as POSSIBLE, down to each character.\nCan you find a block with a photo of the finished dish?\nThere is a link to the photo in the found block.\nJUST print this link and nothing else, no more of your extras.words or comments\nLet's think step by step."}]},"options":{"maxTokens":512}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[920,1020],"id":"0595d3ac-ef4f-4511-b3d7-b932eefb5b85","name":"Get Img Url","credentials":{"openAiApi":{"id":"KgMliYXJMbxEYWDt","name":"OpenAi account"}}},{"parameters":{"operation":"sendPhoto","chatId":"={{ $json.chadId }}","file":"={{ $json.url }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1760,1020],"id":"6dcdbeb5-30da-4f13-a4bb-a2d1171b5b66","name":"Send Img","webhookId":"b31fc1f4-8ede-4886-b54e-5c38d1bed6c8","credentials":{"telegramApi":{"id":"swNfm09PcF7GABUt","name":"Telegram account 3"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Here is the input data for you\n\n{{ $json.data }}\n\nThis is an HTML page that describes the cooking process step by step.\nIt has a block with a photo of the prepared dish, a block with ingredients, and a blog with step-by-step instructions.\nAnalyze this page in as much DETAIL as POSSIBLE, down to each character.\n\nCan you find a block with ingredients of the dish?\n\nThere are ingredients in the found block.\nJUST print this ingredients in text format and nothing else, no more of your extras.words or comments.\nNumber the resulting list.\nLet's think step by step."}]},"options":{"maxTokens":512}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[920,1180],"id":"6b4af4e9-b747-4ab9-8395-dd9377a9a527","name":"Get Ingrediets","credentials":{"openAiApi":{"id":"KgMliYXJMbxEYWDt","name":"OpenAi account"}}},{"parameters":{"chatId":"={{ $json.chadId }}","text":"={{ $json.message.content }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1760,1180],"id":"a0e9e774-1008-4161-8e68-a2d06c2cdad1","name":"Send Ingredients","webhookId":"b31fc1f4-8ede-4886-b54e-5c38d1bed6c8","credentials":{"telegramApi":{"id":"swNfm09PcF7GABUt","name":"Telegram account 3"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Here is the input data for you\n\n{{ $json.data }}\n\nThis is an HTML page that describes the cooking process step by step.\nIt has a block with a photo of the prepared dish, a block with ingredients, and a blog with step-by-step instructions.\nAnalyze this page in as much DETAIL as POSSIBLE, down to each character.\n\nCan you find a block with class=\"instructions\" itemprop=\"recipeInstructions\"\n\nThere are step-by-step instructions of the dish in the found block.\nJUST print text of this instructions and nothing else, no more of your extras words or comments\nLet's think step by step."}]},"options":{"maxTokens":1024}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[920,1340],"id":"d69795ca-a4f4-41c9-8d72-e0db6f5288cd","name":"Get Instructions","credentials":{"openAiApi":{"id":"KgMliYXJMbxEYWDt","name":"OpenAi account"}}},{"parameters":{"chatId":"={{ $json.chadId }}","text":"={{ $json.message.content }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1760,1340],"id":"e2da7c20-9d2a-409f-a726-aa323ccce8bf","name":"Send Instructions","webhookId":"b31fc1f4-8ede-4886-b54e-5c38d1bed6c8","credentials":{"telegramApi":{"id":"swNfm09PcF7GABUt","name":"Telegram account 3"}}},{"parameters":{"jsCode":"const chadId = $input.first().json.callback_query.message.chat.id\nreturn {\n  \"chadId\":chadId\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,860],"id":"8d6e41bb-9920-4354-989f-9997b520d850","name":"Return ChatId"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1540,1020],"id":"97ea7584-e2b3-4edd-8d48-f9e7c26b42bf","name":"Category Name + Message Info1"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1540,1180],"id":"c1437067-ca87-4505-b713-1fda8de68ef1","name":"Category Name + Message Info2"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1540,1340],"id":"c9c69905-43b1-49d7-b350-3bc03a36fe7f","name":"Category Name + Message Info3"},{"parameters":{"content":"# TODO\n\n## 1. Выделить стандартные блоки кода и унифицировать их, т.е. отвязать их от контекста\n\n## 2. Причесать код:\n### &nbsp;&nbsp;&nbsp;&nbsp; 2.1. Разбить всё ветвление на этапы и цветом выделить их, подписать.\n### &nbsp;&nbsp;&nbsp;&nbsp; 2.2. Выдерживать вертикальные столбцы при расположении узлов, т.е. узлы располагаются чётко друг под другом\n\n## 3. Реализовать механизм подмены существующего сообщения в чате новым сообщением, что бы чат не разрастался.\n\n\n## 4. Добавить во все стадии проверку текста, написанного пользователем. Если пользователь ввёл неподходящую информацию, не выполнять код, а повторять последнюю реплику.\n\n\n## 5. Разработать блок для следующих исключений:\n### &nbsp;&nbsp;&nbsp;&nbsp; 5.1. сайт 1000.menu вернул ошибку (исключающие друг друга критерии, например Салат из говядины и кукурузы)\n### &nbsp;&nbsp;&nbsp;&nbsp; 5.2. Если рецептов нет, попросить пользователя уменьшить количество ингредиентов\n### &nbsp;&nbsp;&nbsp;&nbsp; 5.3. \n\n## 6. Добавить пункт \"Без категории\"\n### &nbsp;&nbsp;&nbsp;&nbsp; После выбора данного пункта алгоритм будет искать по всем категориям\n\n## 7. Добавить короткое описание рецепта\n### &nbsp;&nbsp;&nbsp;&nbsp; В меню выбора рецепта добавить короткое описание блюда перед каждой кнопкой выбора рецепта ( желательно текст + картинка )\n\n## 8. Добавить кнопку \"Ещё\" в меню рецептов\n\n## 9. Каждую реплику бота прогнать через персонажа Дядюшка Кок\n\n## 12. Хрупкая зависимость от структуры сайта\n\n## 13. Некорректные callback_data в клавиатуре\n\n## 14. Race condition в Firestore\n\n## 15. Невалидные URL изображений\n\n## 16. Неравномерный случайный выбор\n\n## 17. Галлюцинации GPT-4\n\n## 18. Жесткая привязка к русскому языку\n\n## 19. Таймауты Telegram API\n\n## 20. Игнорирование HTTP-ошибок\n\n## 21. Риски масштабируемости\n\n## 22. Утечки памяти в узлах Code\n\n## 23. Уязвимости безопасности данных\n\n## 24. Конфликты версий в Firestore\n\n## 25. Проблемы локализации форматов\n\n## 26. Некорректное экранирование спецсимволов\n\n## 27. Дублирование Firestore-запросов\n\n## 28. Отсутствие тестовых сценариев\n\n## 29. Игнорирование часовых поясов\n\n## 30. Этап 4. Узел \"Return Ingredient Number\" \n##     Перенести все ингредиенты из js-объекта в БД","height":3080,"width":720,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3120,-1800],"id":"217abdf3-ac0c-493f-a56e-61e76c296610","name":"Sticky Note"},{"parameters":{"content":"# DONE\n\n## 1. Добавил категорию Завтраки\n\n## 2. Узел \"Get Random Titles\" Скорректировал скрипт для генерации 10 разных ID\n\n## 3. Объединить узлы \"Filtering Recipes Title\" и \"Get Random Titles\"\n\n## 4. Сделать для бота хорошее приветствие, в котором будет чёткое описание выполняемых задач. \n\n## 5. Объединил узлы \"Switch message type\" и \"Switch Callback\"\n\n## 6. Ошибка создания кнопок для выбора категорий или рецептов. Ошибка возникает, если строка в callback для inlineButton весит больше 120 байт\n\n## 7. Этап 3. Реализовать динамическое количество кнопок для inlineKeyboard\n\n## 8. Реализовать поиск рецептов по нескольким ингредиентам:\n### &nbsp;&nbsp;&nbsp;&nbsp; 8.1. Скорректировать узел \"1000.menu Request\" (3 этап) для запроса рецептов по нескольким ингредиентам сразу\n\n## 9. Реализовать поиск рецепта по конкретному названию блюда, т.е. модифицировать 4 этап.\n### &nbsp;&nbsp;&nbsp;&nbsp; 9.1. В начальное сообщение добавить 2 кнопки для выбора вида поиска (по названию или по ингредиенту). После выбора пользователем вида поиска эта инфа сохраняется в БД, т.е. в узел \"Switch message type\" добавить еще одну ветку \"SearchType Callback\". Эта ветка приведет к узлу \"Сохрани в БД вид поиска\"\n### &nbsp;&nbsp;&nbsp;&nbsp; 9.2. Так же если пользователь выбирает пункт \"По ингредиентам\", то это факт фиксируется после узла \"Сохрани в БД вид поиска\" и выводиться сообщение с выбором категорий.\n### &nbsp;&nbsp;&nbsp;&nbsp; 9.3. Далее от пользователя прилитает обычное сообщение, т.е. на ветку Another входного узла \"Switch message type\" надо ставить сначала узел \"Вытащи из БД вид поиска\", затем узел \"Объедини инфу из БД и входное сообщение\", а далее switch, который будет машрутизировать входное сообщение в зависимости от вида поиска: ингредиенты направлять на 3 этап, название блюда - на 4 этап.\n### &nbsp;&nbsp;&nbsp;&nbsp; 9.4. Модифицировать 4 этап и добавить новую возможность поиска по названию, т.е. необходимо модифицировать узел \"Return Recipe Url\" и дополнительно дать ему возможность обрабатывать названия блюд и возвращать соответствующий URL\n\n## 10. Разобраться с Google Fiebase\n### &nbsp;&nbsp;&nbsp;&nbsp; *Вы решили начать разработку в тестовом режиме, который делает вашу базу данных Cloud Firestore полностью открытой для Интернета. Поскольку ваше приложение уязвимо для злоумышленников, правила безопасности Firestore были настроены так, чтобы перестать разрешать запросы после первых 30 дней.\n### &nbsp;&nbsp;&nbsp;&nbsp; *Через 1 день (дни) все клиентские запросы к вашей базе данных Firestore будут отклонены. До этого времени напишите надежные правила безопасности, которые позволят вашему приложению функционировать, обеспечивая надлежащую защиту ваших данных. Анализ выполняется ежедневно; если вы изменили свои правила за последние 24 часа, эти изменения могут быть не учтены.\n###### &nbsp;&nbsp;&nbsp;&nbsp; https://notifications.googleapis.com/email/redirect?t=AFG8qyWY1PMZOyZy0c6hx4aeR3SMCSlM9A7GgVT8CHHxigY0QYbRUciaPdjcwGNzgGceVajPb6x-PaUaHd-OgSgeQ1hdzKmFL7vRSYDfMq-XOm3WZiUrmlwTR-_gUPqnPbo_bPHTr9QGGA5gSMPJrm1hpJqRsPiyeBt9KgJPpD5bCJ5z-XChdoGvfzeMeJ4JhcBZG3TzIJM1Ouht6sWMAjUenYhbr2h9s8_59V2-hu6QJxz1APtaCkXjPQJ1mGiB0MP6pJFVJKpzYg&r=eJwVyksOgCAMBcAb0b23webxMeAjbVl4e3U5ybSI5YeI8nYOpNINZ3akStbPyinLeEFD5uN7wbR1FPmjBw1ie8Bf75EcCw&s=ALHZ2r6-yLjbuku0A6uIE-F6uyC\n\n## 11. Сохранить весь workflow на GitHUB\n\n## 12. Некорректная обработка сложных названий ингредиентов (составные или отсутствующие в БД)\n### &nbsp;&nbsp;&nbsp;&nbsp; ~~10.1. Внедрить новый алгоритм и проверить его работу~~\n### &nbsp;&nbsp;&nbsp;&nbsp; ~~10.2. Составить список синонимов для ВСЕХ ингредиентов~~\n### &nbsp;&nbsp;&nbsp;&nbsp; ~~10.3. Использовать AI для выбора подходящего ингредиента~~\n\n## 13. Уязвимость к инъекциям в URL\n### &nbsp;&nbsp;&nbsp;&nbsp; ~~13.1. Скорректировал код в узле \"Gemerate URL\" (4 этап)~~ ","height":2600,"width":730,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3860,-1800],"id":"ad23febd-b92c-4897-86e1-0783e0641ae2","name":"Sticky Note3"},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"=Я тебе тут не бабушка на кухне, а шеф-повар, вашу мать!\n*Работаю без соплей* — даю рецепты, которые * реально * работают.  \n\n*Короче, слушай сюда:*  \n1. **Выбери тип блюда** (жарь, парь, запекай — один хрен).  \n2. **Кинь до 5 ингредиентов** (больше не потяну — народ ломится как не в себя).  \n3. **Получи инструкцию** — четко, по шагам, без философии.\n\n*Правила простые:* не размазывай, не умничай, *говори чётко по сути*.\nЯ не какой-то там ChatGPT, чтобы трепаться — *только дело*.\n\n**Вот категории — твой выбор.**  \n\n*И пошустрее, {{ $json.message.from.first_name }}!\nТы же ведь сюда жрать пришел, а не болтать?*\n\n","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Супы","additionalFields":{"callback_data":"cat_Супы"}},{"text":"Гарниры","additionalFields":{"callback_data":"cat_Гарниры"}},{"text":"2-е блюда","additionalFields":{"callback_data":"cat_2-е блюда"}}]}},{"row":{"buttons":[{"text":"Салаты","additionalFields":{"callback_data":"cat_Салаты"}},{"text":"Соусы","additionalFields":{"callback_data":"cat_Соусы"}},{"text":"Закуски","additionalFields":{"callback_data":"cat_Закуски"}}]}},{"row":{"buttons":[{"text":"Завтраки","additionalFields":{"callback_data":"cat_Завтраки"}},{"text":"Бутерброды","additionalFields":{"callback_data":"cat_Бутерброды"}},{"text":"Выпечка","additionalFields":{"callback_data":"cat_Выпечка"}}]}},{"row":{"buttons":[{"text":"Молочка","additionalFields":{"callback_data":"cat_Молочка"}},{"text":"Напитки","additionalFields":{"callback_data":"cat_Напитки"}},{"text":"Десерты","additionalFields":{"callback_data":"cat_Десерты"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[820,-1840],"id":"f742796e-775b-49a5-a20c-411b70a90525","name":"Send MSG on start1","webhookId":"0dedc0f3-7cb2-44c2-89a0-4e17c2f883cd","credentials":{"telegramApi":{"id":"swNfm09PcF7GABUt","name":"Telegram account 3"}},"disabled":true},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"=Тысяча чертей, {{ $json.message.from.first_name }}!!!🏴‍☠️\n\nВижу, глаза голодные, как у чайки над трюмом!\nЯ — Дядюшка Кок, старый морской пес, и каждая моя ложка — как удар сабли по скуке! Кидай мне свой ингредиенты — акульи плавники 🦈, драконьи яйца или даже ржавые гвозди — сварю так, что сам Нептун захочет добавки!\n\nАррр, не терпится? \nТогда в бой: назови, что у тебя в трюме, а я выложу рецепт 📜 — коротко, злобно, без сухопутных заморочек! Клянусь зубом ихтиандра (видишь, с кораблём-призраком внутри?), накормлю даже мертвеца!\n\nА если застрянешь — хватай ром 🥃 из моей старой бочки и слушай, как соль превратить в золото… Ха-ха-харр! \n\nДавай, юнга, шторм не ждёт — твой ход!\nДядюшка Кок хрипло смеётся, стуча ковшом по котлу.\n\n","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"По названию","additionalFields":{"callback_data":"searchType_name"}},{"text":"По ингредиентам","additionalFields":{"callback_data":"searchType_ingredients"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1740,-1960],"id":"80361817-cf37-4cf0-a9cc-275027439b3e","name":"Send MSG on start2","webhookId":"0dedc0f3-7cb2-44c2-89a0-4e17c2f883cd","credentials":{"telegramApi":{"id":"swNfm09PcF7GABUt","name":"Telegram account 3"}}},{"parameters":{"content":"# &nbsp;&nbsp;&nbsp;&nbsp; Этап 1. Приветствие","height":400,"width":2320},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-40,-2060],"id":"f5a22ef5-30bc-4f4e-8ba6-30427277ec56","name":"Sticky Note4"},{"parameters":{"content":"# &nbsp;&nbsp;&nbsp;&nbsp; Этап 3. Сохранение категории блюда","height":700,"width":2320},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-40,-960],"id":"cde1614b-759e-4085-929a-ecf6bc3b6bfb","name":"Sticky Note5"},{"parameters":{"content":"# &nbsp;&nbsp;&nbsp;&nbsp; Этап 4. Ввод ингредиентов и поиск рецептов по ним","height":740,"width":2720},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-40,-120],"id":"79241c5e-cd28-4b09-8d9d-19578c836cf3","name":"Sticky Note6"},{"parameters":{"content":"# &nbsp;&nbsp;&nbsp;&nbsp; Этап 5. Вывод рецепта","height":780,"width":2320},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-40,760],"id":"17ac89e8-8468-42c2-bb3c-3f161a525683","name":"Sticky Note7"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.callback_query.data }}","rightValue":"cat","operator":{"type":"string","operation":"startsWith"},"id":"f7e2e730-5bfa-451d-8a51-ea33d429fae1"}],"combinator":"and"},"renameOutput":true,"outputKey":"category"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"680ec449-b422-4b13-9bb0-fd45e6fd2b9b","leftValue":"={{ $json.callback_query.data }}","rightValue":"rec","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"renameOutput":true,"outputKey":"recipe"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2760,-1360],"id":"c9732f76-46f7-4b5c-8cc5-49af19c1c66f","name":"Switch Callback","disabled":true},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"=Привет, {{ $json.message.from.first_name }}! 👊  \nЯ тут шеф-повар, не бабушка на кухне. **Работаю без соплей** — даю рецепты, которые работают.  \n\n**Слушай сюда:**  \n1️⃣ **Выбери тип блюда** (жарь, парь, запекай — не важно).  \n2️⃣ **Кинь один ингредиент** (больше не потяну — народ ломится).  \n3️⃣ **Получи инструкцию** — четко, по шагам, без философии.  \n\n**Правила простые:** не размазывай, не умничай, **называй сразу суть**. Я не ChatGPT, чтобы трепаться — **только дело**.  \n\n*Давай быстрее, {{ $json.message.from.first_name }}. Или ты котлеты жрать пришел, или болтать?*  \n\n👇 **Категория — твой ход.**  ","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Супы","additionalFields":{"callback_data":"cat_Супы"}},{"text":"Гарниры","additionalFields":{"callback_data":"cat_Гарниры"}},{"text":"2-е блюда","additionalFields":{"callback_data":"cat_2-е блюда"}}]}},{"row":{"buttons":[{"text":"Салаты","additionalFields":{"callback_data":"cat_Салаты"}},{"text":"Соусы","additionalFields":{"callback_data":"cat_Соусы"}},{"text":"Закуски","additionalFields":{"callback_data":"cat_Закуски"}}]}},{"row":{"buttons":[{"text":"Завтраки","additionalFields":{"callback_data":"cat_Завтраки"}},{"text":"Бутерброды","additionalFields":{"callback_data":"cat_Бутерброды"}},{"text":"Выпечка","additionalFields":{"callback_data":"cat_Выпечка"}}]}},{"row":{"buttons":[{"text":"Молочка","additionalFields":{"callback_data":"cat_Молочка"}},{"text":"Напитки","additionalFields":{"callback_data":"cat_Напитки"}},{"text":"Десерты","additionalFields":{"callback_data":"cat_Десерты"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[980,-1840],"id":"0ffb492e-6de6-4aac-aa52-db614fcf6b21","name":"Send MSG on start3","webhookId":"0dedc0f3-7cb2-44c2-89a0-4e17c2f883cd","credentials":{"telegramApi":{"id":"swNfm09PcF7GABUt","name":"Telegram account 3"}},"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.entities[0].type }}","rightValue":"bot_command","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"command\ntype"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e5eea284-2e71-4f91-bc79-8769d80a7b90","leftValue":"={{ $json.hasOwnProperty( \"callback_query\" ) }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"callback\ntype"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8440aafd-efb2-462b-a4c3-935255f65adf","leftValue":"={{ !!($json.message.text) }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"another "}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2600,-1360],"id":"624d32cf-6ec0-4dba-818d-fd8273efd79d","name":"Switch message type1","disabled":true},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[20,-1960],"id":"1af4d2ef-8740-4af4-accb-803f282c4095","name":"1."},{"parameters":{"jsCode":"const incomingData = $('Get MSG').all()[0].json.message.text\n\nconst splitingIngredients = {'allIngredients':incomingData.split(',')}\n\nreturn splitingIngredients;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[840,200],"id":"9f240a7d-580a-4b17-bc65-cd4e0830159f","name":"Code"},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1240,440],"id":"cb6c8c57-b77e-4ed5-aad1-332cdb1be74b","name":"1000.menu Request1"},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"=Привет, {{ $json.message.from.first_name}}!\nВыбери категорию!","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Супы","additionalFields":{"callback_data":"cat_Супы"}},{"text":"Гарниры","additionalFields":{"callback_data":"cat_Гарниры"}},{"text":"2-е блюда","additionalFields":{"callback_data":"cat_2-е блюда"}}]}},{"row":{"buttons":[{"text":"Салаты","additionalFields":{"callback_data":"cat_Салаты"}},{"text":"Соусы","additionalFields":{"callback_data":"cat_Соусы"}},{"text":"Закуски","additionalFields":{"callback_data":"cat_Закуски"}}]}},{"row":{"buttons":[{"text":"Завтраки","additionalFields":{"callback_data":"cat_Завтраки"}},{"text":"Бутерброды","additionalFields":{"callback_data":"cat_Бутерброды"}},{"text":"Выпечка","additionalFields":{"callback_data":"cat_Выпечка"}}]}},{"row":{"buttons":[{"text":"Молочка","additionalFields":{"callback_data":"cat_Молочка"}},{"text":"Напитки","additionalFields":{"callback_data":"cat_Напитки"}},{"text":"Десерты","additionalFields":{"callback_data":"cat_Десерты"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[500,-1840],"id":"1100a8ef-5698-4bfb-aabd-bf941227eb16","name":"Send MSG on start4","webhookId":"0dedc0f3-7cb2-44c2-89a0-4e17c2f883cd","credentials":{"telegramApi":{"id":"swNfm09PcF7GABUt","name":"Telegram account 3"}},"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.randomRecipes.length }}","rightValue":1,"operator":{"type":"number","operation":"equals"},"id":"e87c4a73-5c0c-49c1-a559-b37c059a6197"}],"combinator":"and"},"renameOutput":true,"outputKey":"1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"51c283b9-078b-4911-9ff0-fef5cc3d6c0e","leftValue":"={{ $json.randomRecipes.length }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b7970bee-f78e-4ce2-a97c-9e911360e48d","leftValue":"={{ $json.randomRecipes.length }}","rightValue":3,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"3"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e9a49d4-34c5-43c8-a2e2-517e98552d14","leftValue":"={{ $json.randomRecipes.length }}","rightValue":4,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"4"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f6662ba2-c5ea-41e6-b3e3-5f7733da18e9","leftValue":"={{ $json.randomRecipes.length }}","rightValue":5,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"5"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3dae4a79-e527-4f31-8a21-c3f1a066a65f","leftValue":"={{ $json.randomRecipes.length }}","rightValue":6,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"6"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"358c1ad3-4d75-42ed-8f66-032be65e61c9","leftValue":"={{ $json.randomRecipes.length }}","rightValue":7,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"7"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f00f9bc5-e249-41c7-818e-7f79da474a25","leftValue":"={{ $json.randomRecipes.length }}","rightValue":8,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"8"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"74e09a46-8fb7-420e-858a-7a9892b9bc3c","leftValue":"={{ $json.randomRecipes.length }}","rightValue":9,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"9"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"78efc352-b19d-4701-a911-a89f35c68870","leftValue":"={{ $json.randomRecipes.length }}","rightValue":10,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"10"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2240,160],"id":"0670b923-267b-4fbf-8917-4b79ee9878fe","name":"Switch"},{"parameters":{"chatId":"={{ $('Get MSG').all()[0].json.message.chat.id }}","text":"=По вашему запросу были найдены следующие рецепты. Пожалуйста, выберите один из них","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"={{ $json.randomRecipes[0][0] }}","additionalFields":{"callback_data":"=rec_{{ $json.randomRecipes[0][1] }}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[1] \n  ? $json.randomRecipes[1][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[1] \n  ? (\"rec_\" + $json.randomRecipes[1][1]) \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[2] \n  ? $json.randomRecipes[2][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[2] \n  ? \"rec_\" + $json.randomRecipes[2][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[3] \n  ? $json.randomRecipes[3][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[3] \n  ? \"rec_\" + $json.randomRecipes[3][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[4] \n  ? $json.randomRecipes[4][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[4] \n  ? \"rec_\" + $json.randomRecipes[4][1] \n  : ' ' \n}}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2480,300],"id":"4235a3fe-87fb-45a1-9b90-b78ef8ee1f47","name":"Telegram1","webhookId":"ac518a17-d5ca-4aa6-b346-ee31aa23143b","credentials":{"telegramApi":{"id":"swNfm09PcF7GABUt","name":"Telegram account 3"}}},{"parameters":{"chatId":"={{ $('Get MSG').all()[0].json.message.chat.id }}","text":"=По вашему запросу были найдены следующие рецепты. Пожалуйста, выберите один из них","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"={{ $json.randomRecipes[0][0] }}","additionalFields":{"callback_data":"=rec_{{ $json.randomRecipes[0][1] }}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[1] \n  ? $json.randomRecipes[1][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[1] \n  ? (\"rec_\" + $json.randomRecipes[1][1]) \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[2] \n  ? $json.randomRecipes[2][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[2] \n  ? \"rec_\" + $json.randomRecipes[2][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[3] \n  ? $json.randomRecipes[3][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[3] \n  ? \"rec_\" + $json.randomRecipes[3][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[4] \n  ? $json.randomRecipes[4][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[4] \n  ? \"rec_\" + $json.randomRecipes[4][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[5] \n  ? $json.randomRecipes[5][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[5] \n  ? \"rec_\" + $json.randomRecipes[5][1] \n  : ' ' \n}}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2480,300],"id":"bdd319f9-40c1-4b42-b73a-08185a27b386","name":"Telegram2","webhookId":"ac518a17-d5ca-4aa6-b346-ee31aa23143b","credentials":{"telegramApi":{"id":"swNfm09PcF7GABUt","name":"Telegram account 3"}}},{"parameters":{"chatId":"={{ $('Get MSG').all()[0].json.message.chat.id }}","text":"=По вашему запросу были найдены следующие рецепты. Пожалуйста, выберите один из них","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"={{ $json.randomRecipes[0][0] }}","additionalFields":{"callback_data":"=rec_{{ $json.randomRecipes[0][1] }}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[1] \n  ? $json.randomRecipes[1][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[1] \n  ? (\"rec_\" + $json.randomRecipes[1][1]) \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[2] \n  ? $json.randomRecipes[2][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[2] \n  ? \"rec_\" + $json.randomRecipes[2][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[3] \n  ? $json.randomRecipes[3][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[3] \n  ? \"rec_\" + $json.randomRecipes[3][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[4] \n  ? $json.randomRecipes[4][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[4] \n  ? \"rec_\" + $json.randomRecipes[4][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[5] \n  ? $json.randomRecipes[5][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[5] \n  ? \"rec_\" + $json.randomRecipes[5][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[6] \n  ? $json.randomRecipes[6][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[6] \n  ? \"rec_\" + $json.randomRecipes[6][1] \n  : ' ' \n}}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2480,300],"id":"9457e97c-b41f-4342-8bab-11fb63117009","name":"Telegram3","webhookId":"ac518a17-d5ca-4aa6-b346-ee31aa23143b","credentials":{"telegramApi":{"id":"swNfm09PcF7GABUt","name":"Telegram account 3"}}},{"parameters":{"chatId":"={{ $('Get MSG').all()[0].json.message.chat.id }}","text":"=По вашему запросу были найдены следующие рецепты. Пожалуйста, выберите один из них","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"={{ $json.randomRecipes[0][0] }}","additionalFields":{"callback_data":"=rec_{{ $json.randomRecipes[0][1] }}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[1] \n  ? $json.randomRecipes[1][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[1] \n  ? (\"rec_\" + $json.randomRecipes[1][1]) \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[2] \n  ? $json.randomRecipes[2][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[2] \n  ? \"rec_\" + $json.randomRecipes[2][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[3] \n  ? $json.randomRecipes[3][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[3] \n  ? \"rec_\" + $json.randomRecipes[3][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[4] \n  ? $json.randomRecipes[4][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[4] \n  ? \"rec_\" + $json.randomRecipes[4][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[5] \n  ? $json.randomRecipes[5][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[5] \n  ? \"rec_\" + $json.randomRecipes[5][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[6] \n  ? $json.randomRecipes[6][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[6] \n  ? \"rec_\" + $json.randomRecipes[6][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[7] \n  ? $json.randomRecipes[7][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[7] \n  ? \"rec_\" + $json.randomRecipes[7][1] \n  : ' ' \n}}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2480,300],"id":"58d1262c-121f-486e-8038-58d4e148fb4d","name":"Telegram4","webhookId":"ac518a17-d5ca-4aa6-b346-ee31aa23143b","credentials":{"telegramApi":{"id":"swNfm09PcF7GABUt","name":"Telegram account 3"}}},{"parameters":{"chatId":"={{ $('Get MSG').all()[0].json.message.chat.id }}","text":"=По вашему запросу были найдены следующие рецепты. Пожалуйста, выберите один из них","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"={{ $json.randomRecipes[0][0] }}","additionalFields":{"callback_data":"=rec_{{ $json.randomRecipes[0][1] }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.randomRecipes[1][0] }}","additionalFields":{"callback_data":"=rec_{{ $json.randomRecipes[1][1] }}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[2] \n  ? $json.randomRecipes[2][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[2] \n  ? \"rec_\" + $json.randomRecipes[2][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[3] \n  ? $json.randomRecipes[3][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[3] \n  ? \"rec_\" + $json.randomRecipes[3][1] \n  : ' ' \n}}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2480,300],"id":"507498f3-abf1-405b-add0-5ad09351e095","name":"Telegram5","webhookId":"ac518a17-d5ca-4aa6-b346-ee31aa23143b","credentials":{"telegramApi":{"id":"swNfm09PcF7GABUt","name":"Telegram account 3"}}},{"parameters":{"chatId":"={{ $('Get MSG').all()[0].json.message.chat.id }}","text":"=По вашему запросу были найдены следующие рецепты. Пожалуйста, выберите один из них","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"={{ $json.randomRecipes[0][0] }}","additionalFields":{"callback_data":"=rec_{{ $json.randomRecipes[0][1] }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.randomRecipes[1][0] }}","additionalFields":{"callback_data":"=rec_{{ $json.randomRecipes[1][1] }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2480,300],"id":"e0f5b9a0-5eef-4406-9b79-455ee30a257c","name":"Telegram6","webhookId":"ac518a17-d5ca-4aa6-b346-ee31aa23143b","credentials":{"telegramApi":{"id":"swNfm09PcF7GABUt","name":"Telegram account 3"}}},{"parameters":{"chatId":"={{ $('Get MSG').all()[0].json.message.chat.id }}","text":"=По вашему запросу были найдены следующие рецепты. Пожалуйста, выберите один из них","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"={{ $json.randomRecipes[0][0] }}","additionalFields":{"callback_data":"=rec_{{ $json.randomRecipes[0][1] }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.randomRecipes[1][0] }}","additionalFields":{"callback_data":"=rec_{{ $json.randomRecipes[1][1] }}"}}]}},{"row":{"buttons":[{"text":"={{ $json.randomRecipes[2][0] }}","additionalFields":{"callback_data":"=rec_{{ $json.randomRecipes[2][1] }}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2480,300],"id":"a37670db-5175-4db2-9c74-40d0818264c9","name":"Telegram7","webhookId":"ac518a17-d5ca-4aa6-b346-ee31aa23143b","credentials":{"telegramApi":{"id":"swNfm09PcF7GABUt","name":"Telegram account 3"}}},{"parameters":{"chatId":"={{ $('Get MSG').all()[0].json.message.chat.id }}","text":"=По вашему запросу были найдены следующие рецепты. Пожалуйста, выберите один из них","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"={{ $json.randomRecipes[0][0] }}","additionalFields":{"callback_data":"=rec_{{ $json.randomRecipes[0][1] }}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[1] \n  ? $json.randomRecipes[1][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[1] \n  ? (\"rec_\" + $json.randomRecipes[1][1]) \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[2] \n  ? $json.randomRecipes[2][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[2] \n  ? \"rec_\" + $json.randomRecipes[2][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[3] \n  ? $json.randomRecipes[3][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[3] \n  ? \"rec_\" + $json.randomRecipes[3][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[4] \n  ? $json.randomRecipes[4][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[4] \n  ? \"rec_\" + $json.randomRecipes[4][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[5] \n  ? $json.randomRecipes[5][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[5] \n  ? \"rec_\" + $json.randomRecipes[5][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[6] \n  ? $json.randomRecipes[6][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[6] \n  ? \"rec_\" + $json.randomRecipes[6][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[7] \n  ? $json.randomRecipes[7][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[7] \n  ? \"rec_\" + $json.randomRecipes[7][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[8] \n  ? $json.randomRecipes[8][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[8] \n  ? \"rec_\" + $json.randomRecipes[8][1] \n  : ' ' \n}}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2480,300],"id":"c34a0545-d834-44d5-9c51-a64d1bafb1ae","name":"Telegram8","webhookId":"ac518a17-d5ca-4aa6-b346-ee31aa23143b","credentials":{"telegramApi":{"id":"swNfm09PcF7GABUt","name":"Telegram account 3"}}},{"parameters":{"chatId":"={{ $('Get MSG').all()[0].json.message.chat.id }}","text":"=По вашему запросу были найдены следующие рецепты. Пожалуйста, выберите один из них","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"={{ $json.randomRecipes[0][0] }}","additionalFields":{"callback_data":"=rec_{{ $json.randomRecipes[0][1] }}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[1] \n  ? $json.randomRecipes[1][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[1] \n  ? (\"rec_\" + $json.randomRecipes[1][1]) \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[2] \n  ? $json.randomRecipes[2][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[2] \n  ? \"rec_\" + $json.randomRecipes[2][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[3] \n  ? $json.randomRecipes[3][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[3] \n  ? \"rec_\" + $json.randomRecipes[3][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[4] \n  ? $json.randomRecipes[4][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[4] \n  ? \"rec_\" + $json.randomRecipes[4][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[5] \n  ? $json.randomRecipes[5][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[5] \n  ? \"rec_\" + $json.randomRecipes[5][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[6] \n  ? $json.randomRecipes[6][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[6] \n  ? \"rec_\" + $json.randomRecipes[6][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[7] \n  ? $json.randomRecipes[7][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[7] \n  ? \"rec_\" + $json.randomRecipes[7][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[8] \n  ? $json.randomRecipes[8][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[8] \n  ? \"rec_\" + $json.randomRecipes[8][1] \n  : ' ' \n}}"}}]}},{"row":{"buttons":[{"text":"={{ \n$json.randomRecipes[9] \n  ? $json.randomRecipes[9][0] \n  : ' ' \n}}","additionalFields":{"callback_data":"={{ \n$json.randomRecipes[9] \n  ? \"rec_\" + $json.randomRecipes[9][1] \n  : ' ' \n}}"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2480,300],"id":"62461d33-6b9f-4568-aacd-75486fe959a8","name":"Telegram9","webhookId":"ac518a17-d5ca-4aa6-b346-ee31aa23143b","credentials":{"telegramApi":{"id":"swNfm09PcF7GABUt","name":"Telegram account 3"}}},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"=Здорово, {{ $json.message.from.first_name }}! 👊\n\nЯ твой персональный Шеф, мать его. 👨‍🍳 Работал в лучших ресторанах, знаю своё дело от и до. Без лишней воды и понтов - я здесь, чтобы выдавать тебе чертовски крутые рецепты. 🔪\n\nРаботаем так: ты называешь ингредиент - я выдаю точный рецепт с пошаговой инструкцией. Всё просто и конкретно. 💪 Времени на болтовню нет - у меня ещё куча народу в очереди, поэтому берём один основной ингредиент и делаем из него шедевр. 🔥\n\nДавай уже к делу - выбирай способ поиска, и погнали. 🍳⏱️\n","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Супы","additionalFields":{"callback_data":"cat_Супы"}},{"text":"Гарниры","additionalFields":{"callback_data":"cat_Гарниры"}},{"text":"2-е блюда","additionalFields":{"callback_data":"cat_2-е блюда"}}]}},{"row":{"buttons":[{"text":"Салаты","additionalFields":{"callback_data":"cat_Салаты"}},{"text":"Соусы","additionalFields":{"callback_data":"cat_Соусы"}},{"text":"Закуски","additionalFields":{"callback_data":"cat_Закуски"}}]}},{"row":{"buttons":[{"text":"Завтраки","additionalFields":{"callback_data":"cat_Завтраки"}},{"text":"Бутерброды","additionalFields":{"callback_data":"cat_Бутерброды"}},{"text":"Выпечка","additionalFields":{"callback_data":"cat_Выпечка"}}]}},{"row":{"buttons":[{"text":"Молочка","additionalFields":{"callback_data":"cat_Молочка"}},{"text":"Напитки","additionalFields":{"callback_data":"cat_Напитки"}},{"text":"Десерты","additionalFields":{"callback_data":"cat_Десерты"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1140,-1840],"id":"62bf0c2e-1dcd-4051-9dab-600312744901","name":"Send MSG on start5","webhookId":"0dedc0f3-7cb2-44c2-89a0-4e17c2f883cd","credentials":{"telegramApi":{"id":"swNfm09PcF7GABUt","name":"Telegram account 3"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"8aceed01-1fd6-4777-93b8-eaf26e8a5c67","name":"collection","value":"=chat~{{ $json.callback_query.message.chat.id }}~{{ $json.callback_query.from.username }}","type":"string"},{"id":"6da30742-6b9d-43da-81ec-64ca38fd8a76","name":"key","value":"=searchType","type":"string"},{"id":"69e5b84d-976c-4751-b573-a9a4e9681f33","name":"searchType","value":"={{ $json.callback_query.data.split('_')[1] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,-1260],"id":"7b816ba6-1010-40c3-a88d-f90d9e23e3a0","name":"Make Firestore Fields 2"},{"parameters":{"chatId":"={{ $json.callback_query.message.chat.id }}","text":"=Прекрасно, {{ $json.callback_query.from.first_name }}!\nА теперь укажи наименование блюда!","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1740,-1260],"id":"f29bb8a7-b7e1-4976-a87b-ec4b4de30b18","name":"Send MSG On Name","webhookId":"0dedc0f3-7cb2-44c2-89a0-4e17c2f883cd","credentials":{"telegramApi":{"id":"swNfm09PcF7GABUt","name":"Telegram account 3"}}},{"parameters":{"content":"# &nbsp;&nbsp;&nbsp;&nbsp; Этап 2. Сохранение вида поиска","height":420,"width":2320},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-40,-1520],"id":"0a09f21b-6202-4ea6-8edb-aa634d4ec6ea","name":"Sticky Note8"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[440,-20],"id":"254bac9f-73a1-4740-8fc7-7d3347956103","name":"Merge"},{"parameters":{"authentication":"serviceAccount","projectId":"mysuperchief","collection":"=chat~{{ $json.message.from.id }}~{{ $json.message.from.username }}","documentId":"searchType"},"type":"n8n-nodes-base.googleFirebaseCloudFirestore","typeVersion":1.1,"position":[240,40],"id":"71308f12-fab6-4371-a931-8098c5418e84","name":"Firestore Get searchType","alwaysOutputData":true,"credentials":{"googleApi":{"id":"DcRsXsLmzvIr2qfO","name":"OlegPersonalFirestore"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b60ec8ef-c3e8-4d8a-9d00-cbc02ddbbd53","leftValue":"={{ ($json.callback_query.data).split(\"_\")[1] }}","rightValue":"ingredients","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ingredients"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ ($json.callback_query.data).split(\"_\")[1] }}","rightValue":"name","operator":{"type":"string","operation":"equals"},"id":"b8efe314-8472-40b9-b10b-cdf024190905"}],"combinator":"and"},"renameOutput":true,"outputKey":"name"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[320,-1420],"id":"a0f14f8e-396a-4614-87a9-f3924b715efc","name":"Switch Search Type"},{"parameters":{"authentication":"serviceAccount","operation":"upsert","projectId":"mysuperchief","collection":"={{ $json.collection }}","updateKey":"key","columns":"searchType"},"type":"n8n-nodes-base.googleFirebaseCloudFirestore","typeVersion":1.1,"position":[520,-1260],"id":"ab8ce92f-d74a-4e24-ad00-9f149517a60f","name":"Firestore Set SearchType","credentials":{"googleApi":{"id":"DcRsXsLmzvIr2qfO","name":"OlegPersonalFirestore"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b60ec8ef-c3e8-4d8a-9d00-cbc02ddbbd53","leftValue":"={{ $json.searchType }}","rightValue":"ingredients","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ingredients"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.searchType }}","rightValue":"name","operator":{"type":"string","operation":"equals"},"id":"b8efe314-8472-40b9-b10b-cdf024190905"}],"combinator":"and"},"renameOutput":true,"outputKey":"name"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[640,-20],"id":"2f8b481c-39af-4834-bda9-8a84c72d03e5","name":"Switch  On SearchType"},{"parameters":{"chatId":"={{ $json.callback_query.message.chat.id }}","text":"=Прекрасно, {{ $json.callback_query.from.first_name }}!\nА теперь выбери категорию блюда!","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"Супы","additionalFields":{"callback_data":"cat_Супы"}},{"text":"Гарниры","additionalFields":{"callback_data":"cat_Гарниры"}},{"text":"2-е блюда","additionalFields":{"callback_data":"cat_2-е блюда"}}]}},{"row":{"buttons":[{"text":"Салаты","additionalFields":{"callback_data":"cat_Салаты"}},{"text":"Соусы","additionalFields":{"callback_data":"cat_Соусы"}},{"text":"Закуски","additionalFields":{"callback_data":"cat_Закуски"}}]}},{"row":{"buttons":[{"text":"Завтраки","additionalFields":{"callback_data":"cat_Завтраки"}},{"text":"Бутерброды","additionalFields":{"callback_data":"cat_Бутерброды"}},{"text":"Выпечка","additionalFields":{"callback_data":"cat_Выпечка"}}]}},{"row":{"buttons":[{"text":"Молочка","additionalFields":{"callback_data":"cat_Молочка"}},{"text":"Напитки","additionalFields":{"callback_data":"cat_Напитки"}},{"text":"Десерты","additionalFields":{"callback_data":"cat_Десерты"}}]}}]},"additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1740,-1420],"id":"7bd39a6e-d61f-4018-9b64-c319ee3cc018","name":"Send MSG On Ingredients","webhookId":"0dedc0f3-7cb2-44c2-89a0-4e17c2f883cd","credentials":{"telegramApi":{"id":"swNfm09PcF7GABUt","name":"Telegram account 3"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1300,80],"id":"97d156c5-241a-42ab-bb9a-9bcb448b29b9","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"KgMliYXJMbxEYWDt","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ JSON.parse($json.message.content) }}","options":{"systemMessage":"=Тебе дан список игредиентов:\n\n\"\n\nмясо, рыба, крупа, молочные продукты, овощи, фрукты, красная рыба, крабы, креветки, курица, лук, картошка, картофель, капуста, помидоры, помидор, томаты, томат, огурцы, огурец, квас, компот, крахмал, бульон, говядина, баранина, грибы, молоко, сливки, йогурт, сметана, яйца, яйцо, сыр, колбаса, кабачки, кабачок, свинина, клубника, клюква, рис, хлебобулочные изделия, яблоки, яблоко, репа, финики, финик, мороженое, шоколад, груши, груша, грейпфрут, тыква, гранат, кукуруза, овёс, овес, перловка, пшеничная крупа, сливы, слива, бананы, банан, лимоны, лимон, малина, индейка, гусь, свекла, болгарский перец, морковь, холодец, моллюски, горох, дыня, спаржа, баклажаны, баклажан, инжир, мёд, бобовые, фасоль, виноград, кальмары, утка, манка, смородина, селёдка, щука, печень, макароны, осетрина, кролик, творог, судак, шампиньоны, треска, минтай, телятина, орехи, орех, окунь, анчоусы, скумбрия, брынза, вешенки, лисички, пшено, сухофрукты, каштаны, каштан, мандарины, мандарин, карп, грецкие орехи, грецкий орех, твёрдый сыр, ананасы, ананас, соленья, артишоки, сало, варенье, чеснок, хрен, плавленный сыр, фундук, гречка, пиво, миндаль, арахис, цветная капуста, авокадо, камбала, карась, морской язык, белые грибы, белый гриб, трюфели, трюфель, шиитаке, рыжики, подберёзовики, подберёзовик, подосиновики, подосиновик, маслята, грузди, груздь, сморчки, опята, айва, шпинат, брокколи, специи, вино, анис, базилик, гвоздика, имбирь, иссоп, каламинта, кардамон, кинза, корица, куркума, лавровый лист, майоран, мята, орегано, чёрный перец, петрушка, розмарин, сельдерей, тархун, тимьян, укроп, фенхель, шафран, лечо, белое вино, редиска, редис, морс, кофе, ячневая крупа, дрожжи, мука, калина, горчица, соевый соус, арбуз, черника, киви, лайм, рябина, хурма, зира, сахар, абрикосы, абрикос, кислое тесто, песочное тесто, пресное тесто, сдобное тесто, слоёное тесто, хлебное тесто, черешня, кефир, персики, персик, вишня, крыжовник, тмин, карри, щавель, кольраби, савойская капуста, краснокочанная капуста, ряженка, почки, пастернак, оливки, брусника, брюссельская капуста, ваниль, сгущённое молоко, желе, зелёный горошек, шоколадное масло, черемша, сыр сулугуни, алыча, чечевица, сухарики, сухари, сливочное масло, кокос, шалфей, оладьи, красное вино, блины, дрожжевое тесто, каши, суши, крабовые палочки, молочные супы, майонез, уксус, маслины, морская капуста, ветчина, сакэ, форель, простокваша, субпродукты, паста мисо, редька, водоросли, маргарин, лук шалот, кукурузная крупа, дайкон, курага, изюм, чернослив, китайская капуста, ром, манго, фисташки, повидло, ростки бамбука, кедровые орехи, кедровый орех, водка, херес, булгур, вермишель, лук порей, ревень, фарш, хлеб\n\n\"\n\nОЧЕНЬ ПОДРОБНО, ВПЛОТЬ ДО КАЖДОГО ЗНАКА проанализируй этот список\n\nТвоя задача:\n1. КАЖДЫЙ элемент из {{ JSON.parse($json.message.content) }} сравнить с каждым элементом из первоначального списка\n2. вернуть МАКСИМАЛЬНО ПОДХОДЯЩИЙ ИНГРЕДИЕНТ ПО СМЫСЛУ. \nБЕЗ ТВОИХ КОММЕНТАРИЕВ И РАССУЖДЕНИЙ.\nТОЛЬКО НАЗВАНИЕ.\nНИЧЕГО БОЛЬШЕ.\n\nПримеры верной обработки\n1. На входе \"Куриная грудка\". Ты возвращаешь 'курица'\n2. На входе \"Куриное яйцо,Картошечка\". Ты возвращаешь 'яйцо, картошка'"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[1400,200],"id":"04fe2708-1738-45df-8f0f-2481aaff1be8","name":"Semantic Synonym Search"},{"parameters":{"jsCode":"let str = $json.message\n  ? $json.message.text\n  : '';\n\n// Функция для очистки параметров\nconst sanitizeParam = (value, pattern) => {\n  const regex = new RegExp(pattern);\n  return regex.test(value) ? value : '';\n};\n\n// Правила валидации\nconst validationRules = {\n  str: /^[а-яА-ЯёЁ0-9\\s-]{1,50}$/iu\n};\n\nconst safeParams = {};\nsafeParams.str = str\n  ? encodeURIComponent(sanitizeParam(str, validationRules.str))\n  : '';\n\nlet categoryNumber = $json.categoryNumber\n  ? $json.categoryNumber\n  : '';\n\nlet ingredientNumber = $json.ingredientNumber\n  ? [...$json.ingredientNumber,'','','','','','','']\n  : ['','','','','','','']\n\nlet url = \n\"https://1000.menu/cooking/search?\"\n+      \"ms=1\"\n+\"&\"+  \"str=\"                   +  ( `${safeParams.str || ''}` )\n+\"&\"+  \"sostav_arr_add%5B%5D=\"  +  ( `${ingredientNumber[0]}` )\n+\"&\"+  \"sostav_arr_add%5B%5D=\"  +  ( `${ingredientNumber[1]}` )\n+\"&\"+  \"sostav_arr_add%5B%5D=\"  +  ( `${ingredientNumber[2]}` )\n+\"&\"+  \"sostav_arr_add%5B%5D=\"  +  ( `${ingredientNumber[3]}` )\n+\"&\"+  \"sostav_arr_add%5B%5D=\"  +  ( `${ingredientNumber[4]}` )\n+\"&\"+  \"sostav_arr_add%5B%5D=\"  +  ( `${ingredientNumber[5]}` )\n+\"&\"+  \"sostav_arr_add%5B%5D=\"  +  ( `${ingredientNumber[6]}` )\n+\"&\"+  \"es_tf=0\"\n+\"&\"+  \"es_tt=14\"\n+\"&\"+  \"es_cf=0\"\n+\"&\"+  \"es_ct=2000\"\n+\"&\"+  \"arr_catalog%5B47%5D=\"   +  ( `${categoryNumber}` )\n\n\nreturn {\"url\":url}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[840,440],"id":"f5e89f6b-f00e-4099-8b7c-a17bbb34684a","name":"Generate URL"}],"connections":{"2":{"main":[[{"node":"Make Firestore Fields 2","type":"main","index":0},{"node":"Switch Search Type","type":"main","index":0}]]},"3":{"main":[[{"node":"Return Category Chat ID User Info","type":"main","index":0}]]},"4":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Firestore Get searchType","type":"main","index":0}]]},"5":{"main":[[{"node":"Return Recipe Url","type":"main","index":0},{"node":"Return ChatId","type":"main","index":0}]]},"1000.menu Request":{"main":[[]]},"HTML-parse Get Recipes Titles":{"main":[[{"node":"Get Random Titles","type":"main","index":0}]]},"Correcting Ingredient":{"main":[[{"node":"Semantic Synonym Search","type":"main","index":0}]]},"Get Random Titles":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Return Ingredient Number":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Switch Command":{"main":[[{"node":"Send MSG on start2","type":"main","index":0}]]},"Switch message type":{"main":[[{"node":"1.","type":"main","index":0}],[{"node":"2","type":"main","index":0}],[{"node":"3","type":"main","index":0}],[{"node":"4","type":"main","index":0}],[{"node":"5","type":"main","index":0}]]},"Get MSG":{"main":[[{"node":"Switch message type","type":"main","index":0}]]},"Return Category Number":{"main":[[{"node":"Category Name + Message Info","type":"main","index":1}]]},"Firestore Set cateoryName":{"main":[[]]},"Merge1":{"main":[[{"node":"Generate URL","type":"main","index":0}]]},"Make Firestore Fields ":{"main":[[{"node":"Firestore Set cateoryName","type":"main","index":0},{"node":"Firestore Set categoryNumber","type":"main","index":0}]]},"Category Name + Message Info":{"main":[[{"node":"Make Firestore Fields ","type":"main","index":0}]]},"Firestore Get Category":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Return Category Chat ID User Info":{"main":[[{"node":"Return Category Number","type":"main","index":0},{"node":"Send MSG On Any Category","type":"main","index":0},{"node":"Category Name + Message Info","type":"main","index":0}]]},"Return Recipe Url":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Get Img Url","type":"main","index":0},{"node":"Get Ingrediets","type":"main","index":0},{"node":"Get Instructions","type":"main","index":0}]]},"Return Img Url":{"main":[[{"node":"Category Name + Message Info1","type":"main","index":1}]]},"Get Img Url":{"main":[[{"node":"Return Img Url","type":"main","index":0}]]},"Get Ingrediets":{"main":[[{"node":"Category Name + Message Info2","type":"main","index":1}]]},"Get Instructions":{"main":[[{"node":"Category Name + Message Info3","type":"main","index":1}]]},"Return ChatId":{"main":[[{"node":"MSG after selecting dish","type":"main","index":0},{"node":"Category Name + Message Info1","type":"main","index":0},{"node":"Category Name + Message Info2","type":"main","index":0},{"node":"Category Name + Message Info3","type":"main","index":0}]]},"Category Name + Message Info1":{"main":[[{"node":"Send Img","type":"main","index":0}]]},"Category Name + Message Info2":{"main":[[{"node":"Send Ingredients","type":"main","index":0}]]},"Category Name + Message Info3":{"main":[[{"node":"Send Instructions","type":"main","index":0}]]},"Switch Callback":{"main":[[],[]]},"1.":{"main":[[{"node":"Switch Command","type":"main","index":0}]]},"Code":{"main":[[{"node":"Correcting Ingredient","type":"main","index":0}]]},"1000.menu Request1":{"main":[[{"node":"HTML-parse Get Recipes Titles","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Telegram","type":"main","index":0}],[{"node":"Telegram6","type":"main","index":0}],[{"node":"Telegram7","type":"main","index":0}],[{"node":"Telegram5","type":"main","index":0}],[{"node":"Telegram1","type":"main","index":0}],[{"node":"Telegram2","type":"main","index":0}],[{"node":"Telegram3","type":"main","index":0}],[{"node":"Telegram4","type":"main","index":0}],[{"node":"Telegram8","type":"main","index":0}],[{"node":"Telegram9","type":"main","index":0}]]},"Make Firestore Fields 2":{"main":[[{"node":"Firestore Set SearchType","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Switch  On SearchType","type":"main","index":0}]]},"Firestore Get searchType":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Switch Search Type":{"main":[[{"node":"Send MSG On Ingredients","type":"main","index":0}],[{"node":"Send MSG On Name","type":"main","index":0}]]},"Switch  On SearchType":{"main":[[{"node":"Code","type":"main","index":0},{"node":"Firestore Get Category","type":"main","index":0},{"node":"Send MSG About Searching","type":"main","index":0}],[{"node":"Generate URL","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Semantic Synonym Search","type":"ai_languageModel","index":0}]]},"Semantic Synonym Search":{"main":[[{"node":"Return Ingredient Number","type":"main","index":0}]]},"Generate URL":{"main":[[{"node":"1000.menu Request1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"87f8b328-c392-435c-ae09-a3b4f5ec3b8d","triggerCount":1,"shared":[{"createdAt":"2025-02-04T08:26:38.641Z","updatedAt":"2025-02-04T08:26:38.641Z","role":"workflow:owner","workflowId":"qonwtt1mwIMj2lPX","projectId":"2aYDbJAthPdR3hBL","project":{"createdAt":"2025-02-02T15:37:04.955Z","updatedAt":"2025-02-04T07:40:44.413Z","id":"2aYDbJAthPdR3hBL","name":"Oleg Ovchinnikov <oleg19091988@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-02-02T15:37:04.955Z","updatedAt":"2025-02-02T15:37:04.955Z","role":"project:personalOwner","userId":"c59bb383-18bc-4b63-a433-da7ed3447ae2","projectId":"2aYDbJAthPdR3hBL","user":{"createdAt":"2025-02-02T15:37:04.955Z","updatedAt":"2025-07-15T07:50:50.923Z","id":"c59bb383-18bc-4b63-a433-da7ed3447ae2","email":"oleg19091988@gmail.com","firstName":"Oleg","lastName":"Ovchinnikov","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-02-04T07:41:51.160Z","personalization_survey_n8n_version":"1.76.1","automationGoalDevops":[],"companySize":"<20","companyType":"education","role":"it","reportedSource":"friend"},"settings":{"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"BVH7vT81Bh0WzLSc","userActivated":true,"userActivatedAt":1738791768104,"npsSurvey":{"responded":true,"lastShownAt":1739176954476}},"role":"global:member","disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-07-14","isPending":false}}]}}],"tags":[]}